<a href="&[url];" target="_blank"><img src="&[classIcon];" border=0 width=16 align=absmiddle>&[class]; <b>&[urlDisplayName];</b></a> was modified. See all Alerts in your <a href="&[allAlerts];" target=_blank><img src="&[inboxIcon];" border=0 width=16 align=absmiddle><b>Inbox</b></a>, or see complete <a href="&[allIssues];" target=_blank><img src="&[classIcon];" border=0 width=16 align=absmiddle><b>&[class];</b></a> list.
