Dear &[firstName]; &[lastName];,
<br>
<br>
The &[class]; <a href="&[url];">&[urlDisplayName];</a> was modified. 
<br><br>
Customer Service
<br>
HudsonFog 
<br><br>
<b>Powered by</b> <a href="http://hudsonfog.com">HudsonFog</a>