Dear &[firstName]; &[lastName];,

You are invited to receive alerts on the &[class]; specified below.
Please click on the link to see the details:

&[url];

To become a subscriber for this &[class]; please click here:

&[subscribe];

Customer Service
HudsonFog 
