Dear &[firstName]; &[lastName];,
<br><br>

&[newFirstName]; &[newLastName]; registered for the &[class]: 
<a href="&[url];">&[urlDisplayName];</a>. 

<br><br>
Customer Service
<br>
HudsonFog 
<br><br>
<b>Powered by</b> <a href="http://hudsonfog.com">HudsonFog</a>