Dear &[firstName]; &[lastName];,
<br><br>

You are now subscribed to alerts on the &[class]; <a href="&[url];">&[urlDisplayName];</a>

<br><br>
Customer Service
<br>
HudsonFog 
<br><br>
<b>Powered by</b> <a href="http://hudsonfog.com">HudsonFog</a>