Dear &[firstName]; &[lastName];,


&[newFirstName]; &[newLastName]; registered for the &[class];.
Click on the link below to see the details:

&[url];

<br><br>
Customer Service
<br>
HudsonFog 

<b><b>Powered by <a href="http://hudsonfog.com">HudsonFog</a>