Dear &[firstName]; &[lastName];,
<br>
<br>

You are invited to receive alerts on the &[class]; <a href="&[url];">&[urlDisplayName];</a>
<br>
&[comment];
<br>

To subscribe please click <a href="&[subscribe];">here</a>. 
<br>
You can modify your subscription alert level or unsubscribe at any time.
<br>
<br>
Customer Service
<br>
HudsonFog 
<br>
<br>


<b>Powered by</b> <a href="http://hudsonfog.com">HudsonFog</a>
