You are invited to subscribe to receive alerts for <a href="&[url];" target="_blank"><img src="&[classIcon];" border=0 width=16 align=absmiddle>&[class]; <b>&[urlDisplayName];</b></a>. To subscribe please click <a href="&[subscribe];" target=_blank>here</a>. <a href="&[allAlerts];" target=_blank>. Click here to see complete <a href="&[allIssues];" target=_blank><img src="&[classIcon];" border=0 width=16 align=absmiddle><b>&[class];</b></a> list.
