You are now subscribed to receive alerts for <a href="&[url];" target="_blank"><img src="&[classIcon];" border=0 width=16 align=absmiddle>&[class]; <b>&[urlDisplayName];</b></a>. See all Alerts in your <a href="&[allAlerts];" target=_blank>. Cleck here to see complete <a href="&[allIssues];" target=_blank><img src="&[classIcon];" border=0 width=16 align=absmiddle><b>&[class];</b></a> list.
