.urlLink{
	color:#008000;
	text-decoration: none;
}

a.adsHeaderLink {
	color:#003399;
	font-size:13px;
}

a.adsHeaderLink:hover {
	color:#529C00; 
}

.sponsored {
 margin-top:0px;
 padding-bottom:0px;
 margin-bottom:5px;
 color: #7F7F7F;
 text-align:center;
}

.sponsoredBar {
	 padding-bottom:0px;
	 margin-bottom:5px;
	 color: #7F7F7F;
	 text-align:left;
	 margin-top:5px;
	 margin-left:2px;
	 border-bottom:1px solid #CCC;
}

span.adsHeaderLink {
	color:#003399;
	font-size:13px;
	text-decoration: underline;
}

span.adsHeaderLink:hover {
	color:#529C00; 
}

.googleAd_h {border:1px solid #D0DBEF;width:100%;}
.googleAd_h td {padding:2px;}

.horizontalAd {
	padding:4px;
	width:572px;
	border-top:1px solid #D0DBEF;
	background-image:url(/main/images/sponsored_blue.gif);
	background-position: 99% 5%;
	background-repeat:no-repeat;
}

.graySponsoredLink{
	color:#838282;
}
