<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

  <!-- versionCode is optional and Android only -->

  <preference name="phonegap-version" value="3.1.0" />

  <name>Default Urbini Config.xml</name>

  <description>
    Urbini mobile apps framework
  </description>

  <author href="http://urbien.com" email="info@urbien.com">
    Urbien
  </author>
    
  <gap:plugin name="com.phonegap.plugins.pushplugin" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.vibration" />
  <!--gap:plugin name="de.appplant.cordova.plugin.local-notification" />
  <gap:plugin name="ihome.cordova.plugin.local-notification" />
  <gap:plugin name="nl.x-services.plugins.launchmyapp">
    <param name="URL_SCHEME" value="urbienAppName" />
  </gap:plugin-->
</widget>
