<!DOCTYPE HTML>
<html>
<head>
<title>Backbone Cellar</title>
</head>
<body>

<div id="header"><span class="title">Urbien</span></div>

<div id="sidebar">
<div id="rl">
</div>
</div>

<!--h2>One Urbien at a time</h2-->
<div id="content">
</div>

<!-- Templates -->
<script type="text/template" id="stringTemplate">
    <span><%= value %></span>
</script>

<script type="text/template" id="dateTemplate">
    <span><%= new Date(value/1000) %></span>
</script>

<script type="text/template" id="intTemplate">
    <span><%= value %></span>
</script>

<script type="text/template" id="uriTemplate">
    <span><a href="<%= value.indexOf('http') == 0 ? value : Lablz.serverName + '/v/' + value %>"><%= value %></a></span>
</script>

<script type="text/template" id="imageTemplate">
    <span><img src="<%= value.indexOf('http') == 0 ? value : Lablz.serverName + '/v/' + value %>" /></span>
</script>

<script type="text/template" id="listItemTemplate">
	<a href='#view/<%= _uri %>'><%= davDisplayName %></a>
</script>

<script type="text/template" id="viewTemplate">
	<div>
		<% for (var name in props) { %> 
			<% if (props.hasOwnProperty(name)) { %>
				<div class="propRow"><%= name %>: <%= props[name] %></div>
			<% } %>
		<% } %>
	</div>
</script>

<!-- JavaScript -->
<!--script src="lib/jquery-1.7.2.js"></script-->
<script src="lib/jqmobi.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
<script src="lib/mustache.js"></script>   
<script src="lib/IndexedDBShim.min.js"></script>   
<script src="js/utils.js"></script>   
<backboneModels />
<script src="js/models.js"></script>   
<script src="js/views.js"></script>   
<script src="js/main.js"></script>   

</body>
</html>