
Dear sir/madam.

There has been a delay of &[delay]; hours in message arrival 
to email account: &[mailAccount];
<(escalationEmails)>
Second alert is scheduled to be sent in &[nextDelay]; hours
to &[escalationEmails];.
<@>
<(!escalationEmails)>
<@>

Customer Service
HudsonFog 
