<style>
fieldset{
  border-style: groove;
  border-color: #bbbbbb;
  border-width: 2px;
}
legend {
  font-family: \"MS Sans Serif\", Arial, Helvetica, Tahoma, sans-serif;
  font-size:11px;
  font-weight:normal;
  font-style:normal;
}
td {
  font-family: \"MS Sans Serif\", Arial, Helvetica, Tahoma, sans-serif;
  font-size:11px;
  font-weight:normal;
  font-style:normal;
}
input {
  font-family: \"MS Sans Serif\", Arial, Helvetica, Tahoma, sans-serif;
  font-size:11px;
  font-weight:normal;
  font-style:normal;
}
select {
  font-family: \"MS Sans Serif\", Arial, Helvetica, Tahoma, sans-serif;
  font-size:11px;
  font-weight:normal;
  font-style:normal;
}
</style>
<div style="width: 98%">
  <fieldset>
  <legend>Recurrence pattern</legend>
  <input name="&[propertyName];" type="hidden" value="&[propertyValue];">
  <table cellspacing="6">
    <tr>
      <td align="left" valign="middle">
        <table>
          <tr>
            <td><input type=radio name=&[propertyName];_recur value=once &[recurOnceChecked]; onClick="showRecurrencePanel('&[formName];', '&[propertyName];')"></td>
            <td>Once</td>
          </tr>
          <tr>
            <td><input type=radio name=&[propertyName];_recur value=daily &[recurDailyChecked]; onClick="showRecurrencePanel('&[formName];', '&[propertyName];')"></td>
            <td>Daily</td>
          </tr>
          <tr>
            <td><input type=radio name=&[propertyName];_recur value=weekly &[recurWeeklyChecked]; onClick="showRecurrencePanel('&[formName];', '&[propertyName];')"></td>
            <td>Weekly</td>
          </tr>
          <tr>
            <td><input type=radio name=&[propertyName];_recur value=monthly &[recurMonthlyChecked]; onClick="showRecurrencePanel('&[formName];', '&[propertyName];')"></td>
            <td>Monthly</td>
          </tr>
          <tr>
            <td><input type=radio name=&[propertyName];_recur value=yearly &[recurYearlyChecked]; onClick="showRecurrencePanel('&[formName];', '&[propertyName];')"></td>
            <td>Yearly</td>
          </tr>
        </table>
      </td>
      <td > </td>
      <td>
        <table id=onceBlock style="display: none" cellpadding=0 cellspacing=0>
          <tr>
            <td valign=top>
              <table width="80%">
                <tr>
                  <td>Start</td>
                </tr>
              </table>
            </td>
            <td ></td>
            <td valign=top>
              <table id=timeBlock style="display: inline">
                <tr>
                  <td valign=top>
                    <table border="0" cellpadding="0" cellspacing="0"> <tbody> <tr>
                        <td> <input id="&[propertyName];_start_once" name="&[propertyName];_start_once" value="&[currentDateJSString];" maxlength="100" class="xxs" type="text" width="10"> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <a href="javascript:;" onClick="return getCalendar(event, '&[formName];', '&[propertyName];_start_once', '&[currentDateJSString];', '&[dateFormat];');">
                              <img src="icons/calendar-not-selected.gif" alt="click to select date from the calendar" name="calicon_&[formName];_&[propertyName];_start_once" id="calicon_&[formName];_&[propertyName];_start_once" border="0" height="16" width="16">
                            </a>
                        </td>
                        <td> </td>
                        </tr> <tr>
                        <td>     <img src="calendar/img/pixel.gif" name="calpos_&[formName];_&[propertyName];_start_once" id="calpos_&[formName];_&[propertyName];_start_once" border="0" height="1" width="1"> </img></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        </tr> <tr> </tr> </tbody>
                    </table>
                    <div id="&[propertyName];_start_once_div"></div>
                  </td>
                  <td valign=top>at</td>
                  <td valign=top> <select name=&[propertyName];_hour_once><[hour]>
                      &[hourLine];
        <@> </select> </td>
                  <td valign=top>:</td>
                  <td valign=top> <select name=&[propertyName];_min_once><[min]>
                      &[minLine];
        <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table id="dailyBlock" style="display: none">
          <tr>
            <td>
              <table>
                <tr>
                  <td><input type=radio name=&[propertyName];_dailyRecur value=everyFewDays &[dailyRecur_everyFewDays];></td>
                  <td>Every</td>
                  <td><input name=&[propertyName];_dayRecurrence value=&[dayRecurrenceValue]; size=2></td>
                  <td>day(s)</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td><input type=radio name=&[propertyName];_dailyRecur value=everyWeekday &[dailyRecur_everyWeekday];></td>
                  <td colspan=3>Every weekday</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>at</td>
                  <td> <select name=&[propertyName];_hour_daily><[hourDaily]> &[hourLineDaily];
              <@> </select> </td>
                  <td>:</td>
                  <td> <select name=&[propertyName];_min_daily><[minDaily]>
                      &[minLineDaily];
        <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table id=weeklyBlock style="display: none" cellpadding=0 cellspacing=0>
          <tr>
            <td>&[weekDayCheckBoxes];</td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>at</td>
                  <td> <select name=&[propertyName];_hour_weekly><[hourWeekly]>
                      &[hourLineWeekly];
              <@> </select> </td>
                  <td>:</td>
                  <td> <select name=&[propertyName];_min_weekly><[minWeekly]>
                      &[minLineWeekly];
        <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table id=monthlyBlock style="display: none" cellpadding=0 cellspacing=0>
          <tr>
            <td>
              <table>
                <tr>
                  <td><input type=radio name=&[propertyName];_monthlyRecur value=byMonthDay &[monthlyRecur_byMonthDay]; checked></td>
                  <td>Day</td>
                  <td><input name=&[propertyName];_monthDay value=&[monthDayValue]; size=2></td>
                  <td>of every</td>
                  <td><input name=&[propertyName];_monthsRecur value=&[monthsRecurValue]; size=2></td>
                  <td>month(s)</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td><input type=radio name=&[propertyName];_monthlyRecur value=byWeekDay &[monthlyRecur_byWeekDay];></td>
                  <td>The</td>
                  <td><select name=&[propertyName];_weekDayRecur size=1><[weekDayRecur]> &[weekDayRecurLine];
           <@> </select></td>
                  <td><select name=&[propertyName];_weekDay size=1><[weekDay]> &[weekDayLine];
           <@> </select></td>
                  <td nowrap>of every</td>
                  <td><input name=&[propertyName];_monthRecur value=&[monthRecurValue]; size="2"></td>
                  <td>month(s)</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>at</td>
                  <td> <select name=&[propertyName];_hour_monthly><[hourMonthly]>
                      &[hourLineMonthly];
              <@> </select> </td>
                  <td>:</td>
                  <td> <select name=&[propertyName];_min_monthly><[minMonthly]>
                      &[minLineMonthly];
        <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table id="yearlyBlock" style="display: none" cellpadding="0" cellspacing="0">
          <tr>
            <td><table>
                <tr>
                  <td><input type=radio name=&[propertyName];_yearlyRecur value=byMonth &[yearlyRecur_byMonth]; checked></td>
                  <td>Every</td>
                  <td> <select name=&[propertyName];_monthYearly size=1><[monthYearly]> &[monthYearlyLine];
            <@> </select> </td>
                  <td><input name=&[propertyName];_monthDayYearly value=&[monthDayYearlyValue]; size=2></tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td><input type=radio name=&[propertyName];_yearlyRecur value=byWeekDay &[yearlyRecur_byWeekDay];></td>
                  <td>The</td>
                  <td><select name=&[propertyName];_weekDayRecurYearly size=1><[weekDayRecurYearly]> &[weekDayRecurYearlyLine];
            <@> </select></td>
                  <td><select name=&[propertyName];_weekDayYearly size=1><[weekDayYearly]> &[weekDayYearlyLine];
            <@> </select></td>
                  <td>of</td>
                  <td> <select name=&[propertyName];_monthYearly1 size=1><[monthYearly1]> &[monthYearly1Line];
            <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>at</td>
                  <td> <select name=&[propertyName];_hour_yearly><[hourYearly]>
                      &[hourLineYearly];
              <@> </select> </td>
                  <td>:</td>
                  <td> <select name=&[propertyName];_min_yearly><[minYearly]>
                      &[minLineYearly];
        <@> </select> </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" valign=top colspan=3> <table id=frequencyStartEndBlock style="display: none" cellspacing=0 cellpadding=0>
          <tr>
            <td valign=top>
              <table width="80%" valign=top>
                <tr>
                  <td valign=top>Start</td>
                </tr>
              </table>
            </td>
            <td ></td>
            <td valign=top> <table id=timeBlock style="display: inline">
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0"> <tbody> <tr>
                        <td> <input id="&[propertyName];_init_start" name="&[propertyName];_init_start" value="&[currentDateJSStringStart];" maxlength="100" class="xxs" type="text" width="10"> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <a href="javascript:;" onClick="return getCalendar(event, '&[formName];', '&[propertyName];_init_start', '&[currentDateJSStringStart];', '&[dateFormat];');">
                              <img src="icons/calendar-not-selected.gif" alt="click to select date from the calendar" name="calicon_&[formName];_&[propertyName];_init_start" id="calicon_&[formName];_&[propertyName];_init_start" border="0" height="16" width="16">
                            </a>
                        </td>
                        <td> </td>
                        </tr> <tr>
                        <td>     <img src="calendar/img/pixel.gif" name="calpos_&[formName];_&[propertyName];_init_start" id="calpos_&[formName];_&[propertyName];_init_start" border="0" height="1" width="1"> </img></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        </tr> <tr> </tr> </tbody>
                    </table>
                    <div id="&[propertyName];_init_start_div"></div>
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td align="center" valign=top>
              <table width="80%">
                <tr>
                  <td valign=top>End</td>
                </tr>
              </table>
            </td>
            <td></td>
            <td valign=top>
              <table id="timeBlock" style="display: inline">
                <tr>
                  <td width="21">
                    <table border="0" cellpadding="0" cellspacing="0"> <tbody> <tr>
                        <td> <input id="&[propertyName];_init_end" name="&[propertyName];_init_end" value="&[currentDateJSStringEndBy];" maxlength="100" class="xxs" type="text" width="10"> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <a href="javascript:;" onClick="return getCalendar(event, '&[formName];', '&[propertyName];_init_end', '&[currentDateJSStringEndBy];', '&[dateFormat];');">
                              <img src="icons/calendar-not-selected.gif" alt="click to select date from the calendar" name="calicon_&[formName];_&[propertyName];_init_end" id="calicon_&[formName];_&[propertyName];_init_end" border="0" height="16" width="16">
                            </a>
                        </td>
                        <td> </td>
                        </tr> <tr>
                        <td>     <img src="calendar/img/pixel.gif" name="calpos_&[formName];_&[propertyName];_init_end" id="calpos_&[formName];_&[propertyName];_init_end" border="0" height="1" width="1"> </img></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        </tr> <tr> </tr> </tbody>
                    </table>
                    <div id="&[propertyName];_init_end_div" ></div>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">&nbsp;</td>
            <td></td>
            <td valign=top>if no end date - leave it blank</td>
          </tr>
        </table></td>
    </tr>
  </table>
  </fieldset>
  <!-- for tab & dialog initialization -->
  <script language='JavaScript' type='text/javascript'>
		var jsCode = "showRecurrencePanel('&[formName];', '&[propertyName];')";
	  var relObj = document.forms['&[formName];'];
	  runJSCode(jsCode, relObj);
  </script>
</div>
