fieldset{
	background-color: #eeeeee;
}
legend{
  background-color: #eeeeee;
  border: 1px solid #808080;
  font-weight: bold;
}
#chatContents{
  height: 200px;
  width: 500px;
  border: 1px solid #808080;
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
  overflow: auto;
  background : #ffffff;
  padding: 4px;
  cursor: text;
}

#userList{
	overflow: auto;
	border: solid #808080 1px;
	background: #ffffff;
	position : static;
	cursor: text;
}

#userOpsPanelTable{
	border:solid #808080 1px; 
	background: #ffffff;
}

#timePanel{
	border:solid #808080 1px; 
	background: #ffffff;
	cursor: text;
}

.sestesso span{
  color: #ff0000;
}
.altro span{
  color: #0088ff;
}
