/* Table containing whole calendar - TABLE */
.calOuterTable {
	border: 1px solid silver;
	width: 150px;
}
/* Month Selector - INPUT */
/* Year Selector - INPUT */
.calCtrl {
	font: 12px Haettenschweiler, Arrial Narrow, Verdana, sans-serif;
}
/* Week Day Title - TD */
.calWTitle {
	font: 12px Haettenschweiler, Arrial Narrow, Verdana, sans-serif;
	background: #808080;
	text-align: center;
	color: #FFFFFF;
	height: 20px;
	width: 20px;
}
/* Selected Date - TD */
.calDayCurrent {
	background: #FFC0C0;
	width: 20px;
}
/* Sat. and Sun. - TD */
.calDayWeekend {
	background: silver;
	width: 20px;
}
/* Sat. and Sun. - TD */
.calDayHoliday {
	background: gray;
	width: 20px;
}
/* Not Sat. and Sun. - TD */
.calDayWorking {
	background: #FFFFFF;
	width: 20px;
}
/* Days of current month - A */
.calThisMonth {
	font: 12px Haettenschweiler, Arrial Narrow, Verdana, sans-serif;
	color: #000000;
	text-decoration: none;
}
/* Days of other month - A */
.calOtherMonth {
	font: 12px Haettenschweiler, Arrial Narrow, Verdana, sans-serif;
	color: #909090;
	text-decoration: none;
}
/* Days not allowed by limits - SPAN */
.calForbDate {
	font: 12px Haettenschweiler, Arrial Narrow, Verdana, sans-serif;
	color: red;
}
/* Time navigation table = TABLE */
.calTimetable{
	font-family: Tahoma, Verdana, sans-serif;	
	font-size: 12px;
}
