/* Redefined */
.cb_style select, td, input, submit{
	font: 11px arial,helvetica;
	color: #333333;
}

.cb_style a{
	font: 11px arial,helvetica;
	color: #000099;
}

.cb_style a:active{
	color: #000000;
}

.cb_style a:visited{
	color: #666666;
}

/* Nav */
.cb_style .nav_bold{
	background: none;
	font: bold 11px arial,helvetica;
	color: #333333;
	text-decoration:underline;
}

.cb_style .nav{
	background: none;
	font: 11px arial,helvetica;
	color: #333333;
	text-decoration:none;
}

.cb_style A.nav:hover{
	text-decoration:underline;
}

.cb_style .results_nav{
	font: bold 11px arial,helvetica;
	color: #333333;
}

/* Headers */
.cb_style .hdr_gry_bld, .cb_style .hdr_bold{
	font: bold 18px arial,helvetica;
	color: #333333;
}

.cb_style .hdr_grn_bld{
	font: bold 18px arial,helvetica;
	color: #669933;
}

.cb_style .hdr_blu_bld{
	font: bold 18px arial,helvetica;
	color: #000066;
}

.cb_style .hdr_org_bld{
	font: bold 18px arial,helvetica;
	color: #FF6600;
}

/* Body Text, Plain */
.cb_style .bdy_blk{
    font: 11px arial,helvetica;
    color: #000000;
}

.cb_style .bdy_gry{
	font: 11px arial,helvetica;
	color: #333333;
}

.cb_style .bdy_grn{
	font: 11px arial,helvetica;
	color: #669933;
}

.cb_style .bdy_blu{
	font: 11px arial,helvetica;
	color: #000066;
}

.cb_style .bdy_org{
	font: 11px arial,helvetica;
	color: #FF6600;
}

/* Body Text, Large */
.cb_style .bdy_gry_lg{
	font: 13px arial,helvetica;
	color: #333333;
}

.cb_style .bdy_grn_lg{
	font: 13px arial,helvetica;
	color: #669933;
}

.cb_style .bdy_blu_lg{
	font: 13px arial,helvetica;
	color: #000066;
}

.cb_style .bdy_org_lg{
	font: 13px arial,helvetica;
	color: #FF6600;
}

/* Body Text, Standard, Bold */
.cb_style .bdy_gry{
	font: bold 11px arial,helvetica;
	color: #333333;
}

.cb_style .bdy_grn{
	font: bold 11px arial,helvetica;
	color: #669933;
}

.cb_style .bdy_blu{
	font: bold 11px arial,helvetica;
	color: #000066;
}

.cb_style .bdy_org{
	font: bold 11px arial,helvetica;
	color: #FF6600;
}

/* Body Text, Large, Bold */

.cb_style .bdy_gry_lg{
	font: bold 13px arial,helvetica;
	color: #333333;
}

.cb_style .bdy_grn_lg{
	font: bold 13px arial,helvetica;
	color: #669933;
}

.cb_style .bdy_blu_lg{
	font: bold 13px arial,helvetica;
	color: #000066;
}

.cb_style .bdy_org_lg{
	font: bold 13px arial,helvetica;
	color: #FF6600;
}

/* Results */
.cb_style .rslt_row1{			/* Row 1 (Location, Title, Company, Pay, Date */
	padding: 5px 0px 0px 6px;
	font: 11px arial,helvetica;
	color: #333333;
}

.cb_style .rslt_row2{
	padding: 0px 0px 0px 10px;
	font: 10px arial,helvetica;
	color: #333333;
}

.cb_style .rslt_row3{			/* color is black for ResResults descriptions */
	padding: 8px 0px 0px 0px;
	font: 11px arial,helvetica;
	color: #000000;
}

.cb_style .rslt_row4{
	padding: 0px 0px 0px 0px;
	font: bold 12px arial,helvetica;
	color: #000099;	
	text-decoration:underline;
}

/* Miscellaenous */
.cb_style .sort_current{		/* highlights current sorters */
	display: block;
	padding: 2px;
	border: 1px solid #FFCC66;
}

.cb_style .blu_bold{			/* slightly bigger, clickable title links */
	font: bold 14px arial,helvetica;
	color: #000066;
}
