 /* IE 6-8 fallback colors */
.marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster-white {
  background-color: rgba(255, 255, 255, 0.6);
  }
.marker-cluster-black {
  background-color: rgba(0, 0, 0, 0.1);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 1000px;
  }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 1000px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }