.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster-white {
  background-color: rgba(255, 255, 255, 0.6);
  }
.marker-cluster-green {
  background-color: rgba(0, 100, 100, 0.5);
  }

.marker-cluster {
	background-clip: padding-box;
	border-radius: 1000px;
	}

/*
.marker-cluster-small-text div {
  font-size: 8px;
  line-height: 8px;
}
.marker-cluster-medium-text div {
  font-size: 20px;
  line-height: 20px;
}
.marker-cluster-large-text div {
  font-size: 30px;
  line-height: 30px;
}
*/

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 1000px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

.marker-cluster-tight div {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-top: 3px;

  text-align: center;
  border-radius: 1000px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }


.marker-cluster span {
	line-height: 30px;
	}