
.deal #remaining_time_container.hourglassfinal {
  background-position: 10px 4px; }

#price_tag {
  height: 92px;
  margin-left: -67px;
  position: relative;
  width: 287px;
  z-index: 10; }

#price_tag_inner {
  background: url(../../images/deal/price_tag.png) no-repeat;
  height: 92px;
  width: 287px; }

#amount {
  color: white;
  font-size: 3.2em;
  left: 48px;
  line-height: 1em;
  position: absolute;
  top: 25px;
  z-index: 1; }
  #amount .price_label {
    display: block;
    font-size: 14px;
    line-height: 0.9em; }

.long {
  top: 19px; }
  .long #amount {
    font-size: 2.8em; }

.multideal #amount {
  top: 12px; }

#buy_btn {
  background: url(../../images/deal/buy.png) no-repeat;
  display: block;
  height: 67px;
  left: 136px;
  line-height: 1000em;
  overflow: hidden;
  position: absolute;
  top: 6px;
  width: 149px; 
}

.multideal #buy_btn {
  background-image: url(/images/groupon/buttons/buy-multideal.png?RAIzuVGI); }
/*
.deal {
  background: white;
  color: #757575;
  border: 2px solid &[SecondaryColorB_1];;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-clip: padding-box;
  clear: both;
  margin-bottom: 20px;
  padding: 15px 10px 10px 10px;
  position: relative;
  z-index: 10; }
*/  
  .deal .return_link {
    font-size: 1.4em;
    font-weight: bold; }
  .deal h2 {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px 18px; 
    }
    .deal h2 span {
      color: #0981be;
      float: left;
      padding-right: 10px; }
    .deal h2 a {
      color: #333333; }
      .deal h2 a:hover {
        text-decoration: none; }
  .deal h3 {
    font-size: 1.2em; }
    .deal h3#merchant_name {
      color: #757575;
      font-size: 15px;
      font-weight: normal;
      margin: -16px 0 18px 10px; }
      .deal h3#merchant_name a {
        font-weight: bold;
        font-style: normal; }
  .deal .primary {
    float: left;
    margin-right: 18px;
    width: 220px; }
  .deal .secondary {
    width: 440px;
    float: right; }
    .deal .secondary a.sprite {
      display: block;
      background: url(/images/groupon/sprites/share_sprite.png?y_jy8tiu) no-repeat;
      width: 17px;
      height: 18px;
      margin: 1px 0 0;
      text-indent: -9999em; }
      .deal .secondary a.sprite.fb {
        background-position: 0 -171px; }
      .deal .secondary a.sprite.tw {
        background-position: 0 0; }
      .deal .secondary a.sprite.email {
        background-position: -51px 0; }
  .deal .deal {
    position: relative;
    border: 2px solid #76a045;
    padding: 25px 10px 0 10px;
    margin-bottom: 20px;
    background: white;
    clear: both;
    z-index: 10; }
    .deal .deal .primary {
      width: 220px; }
    .deal .deal .fine_print, .deal .deal .highlights {
      float: left;
      padding-top: 10px; }
    .deal .deal .fine_print {
      margin-right: 10px;
      border: none;
      background: none; }
    .deal .deal .highlights {
      background: none;
      border: none; }
  .deal #price_tag {
    height: 92px;
    margin-left: -67px;
    position: relative;
    width: 287px;
    z-index: 10; }
  .deal #price_tag_inner {
    background: url(../../images/deal/price_tag.png) no-repeat;
    height: 92px;
    width: 287px; }
  .deal #amount {
    color: white;
    font-size: 30px;;
    left: 48px;
    line-height: 1em;
    position: absolute;
    top: 25px;
    z-index: 1; }
    .deal #amount .price_label {
      display: block;
      font-size: 14px;
      line-height: 0.9em; }
  .deal .long {
    top: 19px; }
    .deal .long #amount {
      font-size: 2.8em; }
  .deal .multideal #amount {
    top: 12px; }
  .deal #buy_btn {
  background: url(../../images/deal/buy.png) no-repeat;
    display: block;
    height: 67px;
    left: 136px;
    line-height: 1000em;
    overflow: hidden;
    position: absolute;
    top: 6px;
    width: 149px; }
  .deal .multideal #buy_btn {
    background-image: url(/images/groupon/buttons/buy-multideal.png?RAIzuVGI); }
  .deal #remaining_time_container {
    position: relative; }
    .deal #remaining_time_container .countdown_container {
      margin-top: 10px;
      padding: 6px 10px 8px 20px;
      background-color: #ddedcc;
      border: 1px solid #98c267;
      overflow: auto;
      min-height: 36px; }
      .deal #remaining_time_container .countdown_container img {
        height: 40px;
        top: 5px;
        left: 25px; }
      .deal #remaining_time_container .countdown_container li {
        float: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        text-align: center; }
        .deal #remaining_time_container .countdown_container li.countdown_label {
          float: none;
          font-size: 1.2em; }
        .deal #remaining_time_container .countdown_container li.ended {
          font-size: 12px; }
          .deal #remaining_time_container .countdown_container li.ended h5 {
            font-size: 12px;
            margin-bottom: 0; }
    .deal #remaining_time_container img {
      position: absolute; }
    .deal #remaining_time_container .expiring_soon {
      color: #cc2127; }
    .deal #remaining_time_container .countdown_label {
      color: #333333; }
  .deal #number_sold_container {
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #ddedcc;
    border: 1px solid #98c267; }
    .deal #number_sold_container img.sold_out, .deal #number_sold_container span.sold_out {
      position: absolute;
      top: 10px;
      left: -20px;
      z-index: 1; }
    .deal #number_sold_container p {
      text-align: center; }
    .deal #number_sold_container p {
      margin: 0px !important; }
    .deal #number_sold_container .tipometer {
      position: relative;
      width: 198px;
      height: 50px;
      margin: 10px 0 5px 0; }
      .deal #number_sold_container .tipometer span {
        position: absolute;
        top: 28px;
        width: 50px;
        height: 18px;
        font-size: 1.8em;
        font-weight: bold; }
        .deal #number_sold_container .tipometer span.min {
          text-align: left;
          left: 0; }
        .deal #number_sold_container .tipometer span.max {
          right: 0;
          text-align: right; }
      .deal #number_sold_container .tipometer .tipping_point {
        position: absolute;
        top: 0;
        left: 45px;
        width: 14px;
        height: 13px;
        background: url(/images/groupon/icons/tipometer/tipping_point.gif?VjS2Nvrk) no-repeat top left;
        z-index: 2; }
      .deal #number_sold_container .tipometer .progress_bar {
        position: absolute;
        top: 15px;
        float: left;
        width: 198px;
        background: url(/images/groupon/backgrounds/tipometer_bg.gif?081pPUJf) no-repeat top left;
        height: 15px;
        padding: 0 2px; }
        .deal #number_sold_container .tipometer .progress_bar .pre_tipped {
          float: left;
          height: 7px;
          margin-top: 2px;
          background: url(/images/groupon/icons/tipometer/pre_tipped.gif?6bZba57F) no-repeat top right; }
          .deal #number_sold_container .tipometer .progress_bar .pre_tipped.left_end_cap {
            background: url(/images/groupon/icons/tipometer/not_empty_pre_tipped.gif?3eGUXl7m) no-repeat top left;
            width: 4px; }
        .deal #number_sold_container .tipometer .progress_bar .post_tipped {
          float: left;
          height: 7px;
          margin-top: 2px;
          background: url(/images/groupon/icons/tipometer/post_tipped.gif?0sV-7NMd) no-repeat top right; }
          .deal #number_sold_container .tipometer .progress_bar .post_tipped.left_end_cap {
            background: url(/images/groupon/icons/tipometer/not_empty_post_tipped.gif?Rs6P_M19) no-repeat top left;
            width: 4px; }
          .deal #number_sold_container .tipometer .progress_bar .post_tipped.complete {
            background-position: -7px 0; }
          .deal #number_sold_container .tipometer .progress_bar .post_tipped.right_end_cap {
            background: url(/images/groupon/icons/tipometer/right_end_cap_tipped.gif?UjhD-q0D) no-repeat top right;
            width: 4px; }
        .deal #number_sold_container .tipometer .progress_bar .tipped {
          float: left;
          height: 7px;
          margin-top: 2px;
          background: url(/images/groupon/icons/tipometer/tipped.gif?CwkH36Oz) no-repeat top right;
          overflow: hidden; }
          .deal #number_sold_container .tipometer .progress_bar .tipped.full {
            background-position: 0 -7px; }
          .deal #number_sold_container .tipometer .progress_bar .tipped.right_end_cap {
            background: url(/images/groupon/icons/tipometer/right_end_cap_tipped.gif?UjhD-q0D) no-repeat top right;
            width: 4px; }
    .deal #number_sold_container .tipped_check_mark {
      padding-top: 0;
      margin: 0 auto;
      text-align: left;
      width: 149px; }
      .deal #number_sold_container .tipped_check_mark span, .deal #number_sold_container .tipped_check_mark .status {
        font-weight: bold;
        font-size: 16px; }
      .deal #number_sold_container .tipped_check_mark span img {
        position: relative;
        top: 7px;
        left: -12px; }
    .deal #number_sold_container .tipped_at p {
      text-align: center;
      padding-top: 5px; }
    .deal #number_sold_container table.status {
      margin: 0 auto;
      font-size: 2em;
      font-weight: bold;
      line-height: 1.2em; }
      .deal #number_sold_container table.status.sold_out {
        margin-top: 100px; }
      .deal #number_sold_container table.status tr td.deal_left {
        font-size: 12px;
        text-align: right; }
      .deal #number_sold_container table.status tr td.deal_right {
        font-size: 12px;
        padding-left: 10px; }
      .deal #number_sold_container table.status tr td.full {
        font-size: 12px;
        color: #757575;
       }
      .deal #number_sold_container table.status tr.zero_sum td.full {
        font-size: 1em; }
      .deal #number_sold_container table.status tr.limited td.full {
        text-align: center; }
      .deal #number_sold_container table.status .terms {
        color: #98c267; }
    .deal #number_sold_container .tipping {
      text-align: center;
      font-size: 1.2em; }
      .deal #number_sold_container .tipping p {
        font-size:12px;
        margin-bottom: 0px !important; 
        }
    .deal #number_sold_container .fb_friends_who_bought {
      text-align: center; }
      .deal #number_sold_container .fb_friends_who_bought p#fwb_count {
        margin: 0 auto;
        width: auto;
        font-size: 11px;
        height: 20px;
        line-height: 15px; }
        .deal #number_sold_container .fb_friends_who_bought p#fwb_count .fb_logo {
          width: 18px;
          height: 14px;
          background: transparent url(/images/facebook/like-sprite.png?gp6I6r2w) no-repeat 0px -46px;
          display: inline-block; }
      .deal #number_sold_container .fb_friends_who_bought ul li {
        display: inline-block;
        margin: 1px; }
        .deal #number_sold_container .fb_friends_who_bought ul li img {
          width: 30px;
          height: 30px; }
  .deal .primary {
    position: relative; }
    .deal .primary #bought {
      top: 26px;
      right: 8px; }
    .deal .primary .summary {
      font-size: 1.4em;
      width: 60px;
      margin-top: 3px; }
    .deal .primary .unavailable_deal_message, .deal .primary .order_fulfilled_message {
      color: white;
      left: 136px;
      margin-right: 10px;
      position: absolute;
      z-index: 1; }
    .deal .primary .unavailable_deal_message {
      background: url(/images/groupon/buttons/disabled.png?G6YwvkEy) no-repeat left top;
      color: #c8e4eb;
      font-size: 2em;
      font-weight: bold;
      height: 44px;
      line-height: 1;
      padding: 23px 10px 0;
      text-align: center;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
      top: 6px;
      width: 124px; }
      .deal .primary .unavailable_deal_message.expired {
        font-size: 1.8em;
        height: 51px;
        padding-top: 16px; }
    .deal .primary .order_fulfilled_message {
      top: 10px;
      font-size: 1.4em; }
  .deal #deal_discount, .deal #for_a_friend {
    background: #cfeef6;
    border: 1px solid #64c8e2;
      border-bottom: none;
      font-size:16px;
      border-top: none; }
  .deal #deal_discount {
    margin-top: -12px;
    padding: 10px 0;
    position: relative;
    z-index: 5; }
    .deal #deal_discount dl {
      float: left;
      width: 70px;
      font-weight: bold;
      text-align: center; }
      .deal #deal_discount dl dt, .deal #deal_discount dl dd {
        text-align: center; }
      .deal #deal_discount dl dt {
        font-size: 12px; }
      .deal #deal_discount dl dd {
        font-size: 16px;
        line-height: 1em; }
  .deal #for_a_friend {
    border-bottom: 1px solid #64c8e2;
    border-top: 1px solid #64c8e2;
    padding: 5px 0 0 0;
    position: relative;
    text-align: center; }
    .deal #for_a_friend a {
      font-weight: bold;
      font-size: 16px; }
    .deal #for_a_friend .icon_gift {
      font-size: 16px;
      font-weight: bold;
      background: url(/images/groupon/icons/icon_gift_blue.gif?kSxZk-SI) no-repeat 0px 2px;
      display: inline-block;
      line-height: 30px;
      padding-left: 35px; }
  .deal .photos {
    height: auto;
    margin-bottom: 10px;
    width: 440px; }
  .deal .fine_print {
    float: left;
    margin-right: 10px;
    width: 212px; }
  .deal .highlights {
    float: left;
    width: 212px; }
    .deal .highlights ul {
      padding-left: 15px;
      list-style-type: disc;
      list-style-position: outside; }
      .deal .highlights ul li em {
        font-style: italic; }

#write_up #merchant_followers_details p {
  clear: both;
  color: #666666;
  font-size: 1em;
  padding: 10px 10px 0 2px; }
  #write_up #merchant_followers_details p strong {
    color: #76a045;
    text-transform: uppercase; }
#write_up #merchant_followers_details #logged_out, #write_up #merchant_followers_details #logged_in {
  display: none; }

.gmap_marker .gmap_marker_index {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-clip: padding-box;
  color: white;
  font-size: 14px;
  display: block;
  padding-bottom: 1px;
  padding-top: 4px;
  text-align: center; }
.gmap_marker .gmap_marker_icon {
  background: url(/images/groupon/icons/map_pointers.png?hMumrxC9) no-repeat -8px 0;
  display: block;
  height: 35px;
  text-align: center;
  width: 26px; }
  .gmap_marker .gmap_marker_icon:hover {
    text-decoration: none; }
.gmap_marker .gmap_marker_icon_small {
  background: url(/images/groupon/icons/map_pointers.png?hMumrxC9) no-repeat -43px -13px;
  display: block;
  height: 17px;
  margin-top: -3px;
  text-align: center;
  width: 16px; }
  .gmap_marker .gmap_marker_icon_small .gmap_marker_index {
    font-size: 9px;
    padding-top: 3px; }
.gmap_marker .gmap_marker_icon:hover, .gmap_marker .gmap_marker_icon.hover {
  background-position: -8px -32px; }

#content .write_up {
  clear: left; }
  #content .write_up .box_content {
    background-color: white;
    background-image: url(/images/groupon/backgrounds/write_up_cssv2.gif?Yr92Mqq6);
    background-repeat: repeat-y;
    background-position: top right; }
  #content .write_up .article, #content .write_up .write_up_rail {
    float: left;
    padding-top: 5px; }
  #content .write_up .article {
    width: 468px;
    padding-right: 10px; }
    #content .write_up .article blockquote {
      margin-bottom: 10px;
      color: #969696;
      font-weight: bold;
      font-size: 1em; }
      #content .write_up .article blockquote ul {
        padding: 0 40px 0 20px; }
        #content .write_up .article blockquote ul li {
          margin-bottom: 10px; }
  #content .write_up .btn_discussion_writeup_join {
    text-align: right; }
    #content .write_up .btn_discussion_writeup_join .comment_number {
      padding: 5px 0; }
      #content .write_up .btn_discussion_writeup_join .comment_number a {
        background: transparent url(/images/groupon/icons/discussion.png?FynOlW0-) 0 50% no-repeat;
        padding-left: 18px; }
  #content .write_up .write_up_rail {
    width: 188px;
    padding-left: 10px; }
    #content .write_up .write_up_rail ul {
      list-style: none;
      padding-left: 0; }
    #content .write_up .write_up_rail .company {
      padding-bottom: 20px; }
      #content .write_up .write_up_rail .company .new_location_list .map_container {
        margin: 10px 0 20px;
        border: 1px solid #76a045; }
      #content .write_up .write_up_rail .company .new_location_list ul.locations li .gmap_marker {
        position: relative;
        float: left;
        width: 20px;
        overflow: hidden;
        height: 32px; }
      #content .write_up .write_up_rail .company .new_location_list ul.locations li .address {
        width: 164px;
        float: left; }
        #content .write_up .write_up_rail .company .new_location_list ul.locations li .address h4 {
          font-weight: bold;
          font-size: 12px; }
        #content .write_up .write_up_rail .company .new_location_list ul.locations li .address p {
          float: left;
          display: block; }

#meetup-wrap {
  width: 190px;
  background: url(/images/groupon/sprites/deal_page_sprite.gif?MzT_1c6u) no-repeat 0 -44px;
  padding-top: 64px; }
  #meetup-wrap #meetup-run {
    background: url(/images/groupon/backgrounds/meetup-run.jpg?StfzlqWn) repeat-y;
    padding: 5px 7px 0 7px; }
    #meetup-wrap #meetup-run h4 {
      line-height: 1.1em;
      margin-bottom: 10px; }
    #meetup-wrap #meetup-run p {
      margin: 0;
      text-align: center; }
  #meetup-wrap #meetup-footer {
    background: url(/images/groupon/sprites/deal_page_sprite.gif?MzT_1c6u) no-repeat 0 -108px;
    height: 24px; }

#tidbits {
  font-size: 1em; }
  #tidbits dt {
    font-weight: bold; }
  #tidbits dd {
    margin-bottom: 20px; }

.groupon_voice {
  background-color: white;
  border: 1px solid #cccccc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  -moz-box-shadow: #bcbcbc 1px 1px 2px ;
  -webkit-box-shadow: #bcbcbc 1px 1px 2px ;
  box-shadow: #bcbcbc 1px 1px 2px ;
  margin-top: 130px;
  position: relative;
  z-index: 99; }
  .groupon_voice h2 {
    background: url(/images/groupon/groupon_says/groupon_says_deal.gif?qmxAkHan) no-repeat;
    height: 45px;
    left: 10px;
    position: absolute;
    text-indent: -9999em;
    top: -34px;
    width: 173px; }
  .groupon_voice h3 {
    margin-top: 22px !important; }
    .groupon_voice h3 a {
      color: #333333; }
  .groupon_voice #challenge {
    border-top: 1px solid #c5e2c6;
    padding: 0 90px 0 10px;
    margin: 10px -10px;
    min-height: 80px;
    background: white url(/images/groupon/groupon_says/challenge.gif?NpqbYqHf) no-repeat 375px center; }
    .groupon_voice #challenge p.challenge {
      font-size: 14px;
      padding: 10px 0 0;
      margin-bottom: 5px; }
    .groupon_voice #challenge p.caption {
      font-family: georgia;
      font-size: 11px;
      color: #a0a0a0;
      font-style: italic;
      margin: 0;
      padding: 0 10px 5px 0; }
  .groupon_voice hr {
    border: 0px none;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
    margin: 0 0 20px; }
  .groupon_voice .groupon_voice_top {
    background: url(/images/groupon/groupon_says/talking_cat.png?6acE5_Me) no-repeat 260px 4px;
    margin-top: -103px;
    padding: 103px 10px 0 10px; }
    .groupon_voice .groupon_voice_top ul li {
      color: #333333; }
      .groupon_voice .groupon_voice_top ul li strong {
        color: #333333; }
    .groupon_voice .groupon_voice_top blockquote {
      font-weight: normal !important; }
  .groupon_voice .comment_container {
    padding-left: 10px; }
  .groupon_voice ul.groupon_share li {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap; }
    .groupon_voice ul.groupon_share li.first, .groupon_voice ul.groupon_share li:first-child {
      padding-left: 0px; }
    .groupon_voice ul.groupon_share li.last, .groupon_voice ul.groupon_share li:last-child {
      padding-right: 0px; }
  .groupon_voice ul.groupon_share li {
    margin: 0 5px;
    list-style: none; }
    .groupon_voice ul.groupon_share li.submit_your_answer {
      float: left; }
    .groupon_voice ul.groupon_share li.twitter a {
      background: transparent url(/images/groupon/sprites/share_sprite.png?y_jy8tiu) no-repeat left center;
      display: block;
      height: 20px;
      text-indent: -9999px;
      width: 17px; }
  .groupon_voice .comment {
    font-weight: bold; }

.groupon_voice_winner {
  position: relative;
  display: block;
  z-index: 1;
  width: 448px;
  margin: -20px 0 10px;
  padding: 20px 10px 10px;
  background: #ddedcc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  -moz-box-shadow: #cccccc 1px 1px 2px ;
  -webkit-box-shadow: #cccccc 1px 1px 2px ;
  box-shadow: #cccccc 1px 1px 2px ; }
  .groupon_voice_winner div {
    background: transparent url(/images/groupon/groupon_says/trophy.png?FFpEkKCX) no-repeat left 10px;
    padding: 10px 40px 10px 80px;
    min-height: 100px; }
    .groupon_voice_winner div p {
      font-size: 11px;
      margin-bottom: 5px; }
    .groupon_voice_winner div blockquote {
      background: transparent url(/images/groupon/groupon_says/quote.png?uBgESYcP) no-repeat left top;
      padding-left: 16px;
      font-weight: normal !important;
      font-style: italic;
      font-size: 11px !important;
      color: #303030 !important; }

.ie6 .groupon_voice h2, .ie7 .groupon_voice h2 {
  top: 69px; }

.demographic_banner {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  -moz-box-shadow: 2px 2px 3px #666 ;
  -webkit-box-shadow: 2px 2px 3px #666 ;
  box-shadow: 2px 2px 3px #666 ;
  border: solid 2px #779f43;
  background-color: white;
  height: 95px;
  margin: 0 3px; }
  .demographic_banner form {
    padding: 0; }
    .demographic_banner form input.submit {
      border: none;
      margin-bottom: -11px; }
    .demographic_banner form #user_profile_user_identity_zipcode {
      width: 70px; }
    .demographic_banner form .email_address {
      font-size: 12px; }
      .demographic_banner form .email_address #email_address_text {
        margin-top: 5px; }
        .demographic_banner form .email_address #email_address_text div {
          overflow: hidden;
          width: 165px;
          margin-right: 3px; }
        .demographic_banner form .email_address #email_address_text a {
          margin-right: 17px;
          float: right; }
      .demographic_banner form .email_address #email_address_field {
        margin-top: 5px;
        display: none; }
        .demographic_banner form .email_address #email_address_field input {
          width: 200px; }
  .demographic_banner .column_left {
    z-index: 1;
    position: relative;
    background: #fefce5 url(/images/groupon/demographics/arrow_right.png?07qsLw8o) 320px -5px no-repeat;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left: 10px;
    padding: 5px;
    margin: 0;
    float: left;
    height: 85px;
    width: 325px;
    margin-right: 15px; }
    .demographic_banner .column_left img {
      float: left;
      margin: 10px; }
    .demographic_banner .column_left .heading {
      background: url(/images/groupon/smart_deals/smart_deals_g_FEFCE5_68x68.png?kAk7sOGa) no-repeat 10px 0;
      margin: 10px 0 0 0;
      padding: 0 0 5px 88px;
      font-size: 18px;
      line-height: 20px;
      height: 70px; }
      .demographic_banner .column_left .heading #email_prompt {
        display: none;
        font-size: 12px;
        margin: 6px 0 -6px; }
      .demographic_banner .column_left .heading span.label {
        color: #ec6018;
        font-weight: bold; }
    .demographic_banner .column_left p {
      margin: 5px 0 0 0; }
  .demographic_banner .column_right {
    position: relative; }
    .demographic_banner .column_right p {
      font-family: Helvetica, sans-serif;
      font-weight: lighter;
      margin: 0 0 2px 0;
      padding: 16px 7px 0 23px;
      text-align: left; }
    .demographic_banner .column_right fieldset {
      padding: 21px 7px 0 23px;
      background-color: #fefce5;
      padding: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box; }
    .demographic_banner .column_right label, .demographic_banner .column_right select, .demographic_banner .column_right .input {
      font-size: 10px;
      float: left; }
    .demographic_banner .column_right label {
      margin-right: 5px; }
    .demographic_banner .column_right a#dismiss_demographic_form {
      display: block;
      position: absolute;
      right: -12px;
      top: -7px;
      font-size: 0;
      height: 26px;
      width: 26px;
      overflow: hidden;
      text-indent: -999px;
      background: url(/images/groupon/overlays/btn/x-close-large.png?WcTqZeiv) no-repeat; }

body.js_enabled div.tooltip {
  width: 230px; }
  body.js_enabled div.tooltip h6 {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right: 10px;
    background-color: #c7ddad;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    text-align: left; }
  body.js_enabled div.tooltip p {
    background-color: #f2f8ec; }

#rail .demographic_side_rail #email_prompt {
  display: none; }
#rail .demographic_side_rail a.demographic_tooltip {
  position: absolute;
  top: 2px;
  right: 14px;
  background: url(/images/groupon/icons/question.png?DHv1IdLY) no-repeat left center;
  cursor: help;
  display: inline-block;
  font-size: 0;
  height: 17px;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999em;
  vertical-align: top;
  width: 14px; }
#rail .demographic_side_rail div.title {
  background: url(/images/groupon/demographics/lil_g.png?ukrkML9E) -3px center no-repeat;
  padding-left: 55px;
  height: 55px; }
  #rail .demographic_side_rail div.title h6 {
    padding-top: 13px;
    line-height: 1em;
    font-family: Arial, sans-serif;
    font-size: 14px; }
    #rail .demographic_side_rail div.title h6 span {
      font-weight: normal;
      display: block; }
#rail .demographic_side_rail div.logout {
  color: #333333;
  margin: 8px 2px 0px 2px;
  font-size: 11px;
  width: 100%;
  overflow: hidden; }
#rail .demographic_side_rail form .email_address {
  margin: 0 7px; }
  #rail .demographic_side_rail form .email_address .field {
    margin-top: 2px;
    display: none;
    margin-bottom: 0; }
    #rail .demographic_side_rail form .email_address .field input {
      width: 100%; }
  #rail .demographic_side_rail form .email_address .text div {
    overflow: hidden; }
  #rail .demographic_side_rail form .email_address .text a {
    display: block;
    float: right;
    margin-left: 5px; }
#rail .demographic_side_rail form fieldset {
  padding: 8px;
  font-size: 11px;
  background-color: #ffffe3; }
  #rail .demographic_side_rail form fieldset label {
    display: block;
    text-align: right;
    width: 82px;
    float: left;
    padding-right: 4px; }
  #rail .demographic_side_rail form fieldset label.inline {
    display: inline;
    float: none; }
  #rail .demographic_side_rail form fieldset input.prompting_field {
    width: 90px; }
  #rail .demographic_side_rail form fieldset select {
    width: 98px; }
#rail .demographic_side_rail form button {
  margin-left: 80px; }

#rail .merchant_direct h4, #rail .more_great_deals h4 {
  font-family: Helvetica, Arial, FreeSans, sans-serif; }

#rail .merchant_direct {
  border: 2px solid #4c8b9c;
  margin: 0 0 20px 0; }
  #rail .merchant_direct h3 {
    padding: 5px;
    font-size: 12px;
    margin: 0;
    background: #4c8b9c;
    font-weight: bold;
    text-align: center;
    color: white; }
    #rail .merchant_direct h3 img {
      vertical-align: middle; }

#rail ul.more_great_deals, #rail ul.nearby_deals_new {
  border: 2px solid #86ac57;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-clip: padding-box;
  background-color: white;
  margin-bottom: 20px; }
  #rail ul.more_great_deals li, #rail ul.nearby_deals_new li {
    margin: 0;
    padding: 0; }
  #rail ul.more_great_deals li.header, #rail ul.nearby_deals_new li.header {
    background-color: #ddedcc;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    text-align: center;
    padding: 7px; }
    #rail ul.more_great_deals li.header h3, #rail ul.nearby_deals_new li.header h3 {
      font-weight: bold;
      font-family: Georgia, MS Serif;
      font-size: 12px;
      padding: 0;
      margin: 0; }
  #rail ul.more_great_deals li.header.all_deals h3, #rail ul.nearby_deals_new li.header.all_deals h3 {
    float: left;
    padding-top: 1px; }
  #rail ul.more_great_deals li.area_deal, #rail ul.nearby_deals_new li.area_deal {
    font-size: 13px;
    line-height: 17px;
    padding: 10px;
    border-top: 2px solid #ddedcd; }
    #rail ul.more_great_deals li.area_deal img, #rail ul.nearby_deals_new li.area_deal img {
      border: none;
      vertical-align: top;
      margin-right: 4px; }
    #rail ul.more_great_deals li.area_deal a, #rail ul.nearby_deals_new li.area_deal a {
      text-decoration: none; }
      #rail ul.more_great_deals li.area_deal a span, #rail ul.nearby_deals_new li.area_deal a span {
        color: #0981be; }
    #rail ul.more_great_deals li.area_deal a.title, #rail ul.nearby_deals_new li.area_deal a.title {
      color: black; }
      #rail ul.more_great_deals li.area_deal a.title:hover, #rail ul.nearby_deals_new li.area_deal a.title:hover {
        text-decoration: underline; }
  #rail ul.more_great_deals li.ad, #rail ul.nearby_deals_new li.ad {
    border-top: 2px solid #ddedcd;
    padding: 7px 7px 7px 16px; }

#rail ul.more_great_deals li.side_deal, #rail .merchant_direct .merchant_deal, #rail .nearby_deals_new {
  padding: 10px;
  position: relative; }
  #rail ul.more_great_deals li.side_deal a.sidedeal, #rail .merchant_direct .merchant_deal a.sidedeal, #rail .nearby_deals_new a.sidedeal {
    display: block;
    float: right;
    height: 75px;
    overflow: hidden;
    text-decoration: none; }
  #rail ul.more_great_deals li.side_deal h4, #rail .merchant_direct .merchant_deal h4, #rail .nearby_deals_new h4 {
    font-size: 1.2em; }
    #rail ul.more_great_deals li.side_deal h4 a, #rail .merchant_direct .merchant_deal h4 a, #rail .nearby_deals_new h4 a {
      color: black;
      font-weight: normal; }
      #rail ul.more_great_deals li.side_deal h4 a:hover, #rail .merchant_direct .merchant_deal h4 a:hover, #rail .nearby_deals_new h4 a:hover {
        text-decoration: none; }

#rail ul.more_great_deals.limited_rail_count.variant_1 {
  display: none; }

#rail ul.more_great_deals.more_great_deals_experiment.variant_1, #rail ul.more_great_deals.more_great_deals_experiment.variant_2, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 {
  display: none; }
  #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.side_deal h4 a, #rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.side_deal h4 a, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.side_deal h4 a {
    color: #2077ac; }
    #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.side_deal h4 a span, #rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.side_deal h4 a span, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.side_deal h4 a span {
      color: #333333;
      font-weight: bold; }
#rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.area_deal {
  overflow: hidden; }
  #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.area_deal a {
    display: block;
    float: left;
    width: 25px; }
    #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.area_deal a img {
      margin: 2px 0 0 -4px; }
  #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.area_deal a.title {
    color: #2077ac;
    width: 185px; }
    #rail ul.more_great_deals.more_great_deals_experiment.variant_1 li.area_deal a.title span {
      color: #333333;
      font-weight: bold; }
#rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td {
  vertical-align: top; }
#rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.title, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.title {
  padding-left: 12px; }
  #rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.title img, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.title img {
    margin: 2px 0 0 -4px; }
  #rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.title a.title, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.title a.title {
    color: #2077ac;
    width: 185px; }
    #rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.title a.title span, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.title a.title span {
      color: #333333;
      font-weight: bold; }
#rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.thumb a, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.thumb a {
  width: 55px;
  height: 33px;
  overflow: hidden;
  display: block; }
#rail ul.more_great_deals.more_great_deals_experiment.variant_2 li.area_deal td.thumb img, #rail ul.more_great_deals.more_great_deals_experiment.variant_3 li.area_deal td.thumb img {
  width: 55px;
  margin: 0; }

#rail .price_value {
  margin-left: -5px;
  float: left; }
  #rail .price_value .price_tag {
    background: #5ebfda url(/images/groupon/price_tag_medium.png?zKFjaSvG) no-repeat;
    height: 23px;
    width: 79px; }
  #rail .price_value .merchant_direct .price_tag {
    background: #4c8b9c url(/images/groupon/promoted_price_tag_medium.png?zHDnmHg5) no-repeat; }
  #rail .price_value h6 {
    font-weight: normal;
    font-family: Arial, sans-serif;
    line-height: 23px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 5px; }
  #rail .price_value .campaign_value {
    background-color: #cfeef6;
    border-right: 1px solid #54c2dc;
    border-bottom: 1px solid #54c2dc;
    border-left: 1px solid #54c2dc;
    margin-left: 9px;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 68px; }
  #rail .price_value .view_it {
    margin-top: 5px;
    margin-left: 10px; }

/*## New Deals Nearby Styles (GWO test) */
#rail .nearby_deals_new li.side_deal {
  margin: 0 !important;
  padding: 7px;
  border-top: 1px solid #daeaca; }
  #rail .nearby_deals_new li.side_deal .view_it.new {
    margin: 5px 0 8px 16px !important; }
  #rail .nearby_deals_new li.side_deal .side_location {
    font-weight: bold;
    margin-right: 3px; }
  #rail .nearby_deals_new li.side_deal h4 a, #rail .nearby_deals_new li.side_deal h4 a:hover {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #3e3e3e !important; }
  #rail .nearby_deals_new li.side_deal .price_tag h6 {
    font-weight: bold !important;
    text-shadow: #33abcf 1px 2px 2px; }

#rail .nearby_deals_new li.area_deal {
  border-top: 1px solid #daeaca;
  line-height: 18px !important; }
  #rail .nearby_deals_new li.area_deal .view_it {
    float: left;
    margin: 0 5px 0px 0px; }
  #rail .nearby_deals_new li.area_deal .side_location {
    font-weight: bold;
    margin-right: 3px; }

#rail .merchant_direct {
  background: white; }
  #rail .merchant_direct .merchant_deal .price_tag {
    background: #4c8b9c url(/images/groupon/promoted_price_tag_medium.png?zHDnmHg5) no-repeat; }
  #rail .merchant_direct .view_it.new {
    margin: 5px 0 8px 16px !important; }

.nearby_1 {
  display: none; }

.nearby_2 {
  display: none; }

#division_description .top {
  background-color: white;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right: 8px;
  border: 2px solid #76a045;
  border-bottom: none;
  padding: 10px; }
#division_description form {
  background-color: #fdf9cc;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right: 8px;
  border: 2px solid #76a045;
  border-top: none;
  border-top: 1px solid #8a8a8a;
  padding: 10px; }
  #division_description form .follow_desc {
    color: #8a8a8a;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    width: 155px; }
  #division_description form li {
    float: left;
    margin-right: 8px; }
    #division_description form li.label {
      margin-top: 4px; }
  #division_description form .email {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    width: 186px; }

#rail_list {
  clear: left; }
  #rail_list li {
    margin-bottom: 2em; }
  #rail_list #intermixed_side_deals {
    display: none; }
  #rail_list #side_deal_as_merchant {
    display: none; }

#rail blockquote {
  background: url(/images/groupon/icons/green_quote_small.gif?iWqnclRu) no-repeat top left;
  padding: 0 0 0 20px;
  margin-bottom: 5px;
  overflow: hidden; }
#rail .quote_attribution {
  margin-bottom: 15px;
  padding-left: 20px; }

#rail .side_deal .box_content {
  padding-top: 0; }
#rail .chromed_header {
  border-bottom: 1px solid #e6e6e6;
  background: url(/images/groupon/backgrounds/rail_header_gradient_grey.jpg?pCk2yuL7) repeat-x;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right: 9px;
  height: 36px;
  margin-bottom: 8px;
  overflow: hidden;
  padding-bottom: 1px; }
  #rail .chromed_header h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 0 0 0;
    text-align: center; }

.callout .box_content {
  background: #ddedcc; }

#admin_panel .page_content .share_links {
  margin: 0 0 10px 10px; }
  #admin_panel .page_content .share_links li {
    float: left; }
    #admin_panel .page_content .share_links li.email_share {
      margin: 0 10px; }

#groupon_stores {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  overflow: hidden; }
  #groupon_stores h3 {
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    background: #ddedcc url(/images/logos/stores_sidebar.gif?GNpHLKBe) no-repeat 69px 50%;
    text-indent: -9999px;
    height: 30px;
    padding: 0; }
  #groupon_stores h4, #groupon_stores p {
    font-size: 12px;
    line-height: 17px;
    color: #666666; }
  #groupon_stores h4 {
    font-size: 12px;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0; }
  #groupon_stores p {
    margin-bottom: 10px; }
  #groupon_stores hr {
    margin: 15px 0; }
  #groupon_stores img {
    text-align: center;
    display: block;
    margin: 0 auto 15px; }

.ui-autocomplete {
  position: absolute; }

.autocompleter ul, .ui-autocomplete {
  background: white;
  border: 1px solid #aaaaaa;
  border-bottom: none; }
  .autocompleter ul li, .ui-autocomplete li {
    border-bottom: 1px solid #dddddd;
    cursor: pointer; }
    .autocompleter ul li a, .ui-autocomplete li a {
      display: block;
      padding: 3px; }
  .autocompleter ul li.selected, .autocompleter ul .ui-state-hover, .ui-autocomplete li.selected, .ui-autocomplete .ui-state-hover {
    background: #ffffaa; }

.has-spinner {
  background: url(/images/ajax-loader.gif?VKKpPvvI) no-repeat 272px 2px; }

#ratings #award_link, #ratings #flag_link {
  display: block;
  margin-left: -37px;
  padding: 4px 4px 4px 30px;
  width: 100px;
  font-size: 11px; }

#ratings small a {
  color: #aaaaaa; }

#award_link {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right: 10px;
  margin-top: 5px;
  background: #eef7e6 url(/images/icons/award_small.png?apIX8Ple) no-repeat 10px 6px; }

#flag_link {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right: 10px;
  background: #f1e9dc url(/images/icons/flag_small.png?LH4Vx2Kv) no-repeat 10px 6px; }

#award_a_customer h1, #flag_a_customer h1, #award_a_business h1, #flag_a_business h1 {
  text-align: left;
  padding-left: 45px;
  padding-top: 3px; }

#award_a_customer h1, #award_a_business h1 {
  background: url(/images/icons/award.png?67qSbnUt) no-repeat; }

#flag_a_customer h1, #flag_a_business h1 {
  background: url(/images/icons/flag.png?Pc4ZWeXD) no-repeat; }

#award_a_customer .left, #flag_a_customer .left, #award_a_business .left, #flag_a_business .left {
  width: 72%;
  float: left; }
  #award_a_customer .left form, #flag_a_customer .left form, #award_a_business .left form, #flag_a_business .left form {
    background: #feffee; }

#award_a_customer .right, #flag_a_customer .right, #award_a_business .right, #flag_a_business .right {
  margin-top: 20px;
  width: 25%;
  float: right; }

.rating_form {
  padding: 10px 20px;
  border: 1px solid #f3daca;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box; }
  .rating_form a.modal_close {
    line-height: 30px; }
  .rating_form label {
    display: block;
    clear: both;
    font-weight: bold;
    float: none;
    width: 100%; }
    .rating_form label span {
      font-size: 10px;
      margin: 0 0 0 5px;
      color: #d31b5d; }
    .rating_form label em {
      color: #aaaaaa;
      font-style: normal; }
  .rating_form .input {
    margin-bottom: 10px; }
  .rating_form .input.has-spinner {
    background: url(/images/ajax-loader.gif?VKKpPvvI) no-repeat 170px 0px; }
  .rating_form .input, .rating_form textarea {
    width: 96%; }
  .rating_form textarea {
    height: 100px; }
  .rating_form ul {
    background: white;
    border: 1px solid #aaaaaa;
    border-bottom: none; }
    .rating_form ul li {
      border-bottom: 1px solid #dddddd;
      padding: 3px;
      cursor: pointer; }
    .rating_form ul li.selected {
      background: #ffffaa; }
  .rating_form #award_customer, .rating_form #flag_customer, .rating_form #award_groupon_code, .rating_form #flag_groupon_code {
    width: 180px;
    float: left; }
  .rating_form span.search_toggle {
    display: block;
    float: left;
    margin: 2px 0 0 5px; }
    .rating_form span.search_toggle a {
      text-decoration: underline; }

#admin_panel {
  padding-bottom: 10px; }
  #admin_panel ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #admin_panel .large_green_button {
    height: auto; }
  #admin_panel .quick_links .sub_links {
    list-style-type: none;
    margin: -3px 0 5px 25px;
    padding: 0;
    font-size: 11px;
    border-bottom: 1px solid #f0f0f0; }
    #admin_panel .quick_links .sub_links li {
      display: inline-block;
      border-left: 1px solid #565656;
      padding: 0 5px;
      line-height: 12px; }
      #admin_panel .quick_links .sub_links li.first {
        border-left: 0;
        padding-left: 0; }
  #admin_panel .redeem_vouchers {
    font-size: 1.2em; }
  #admin_panel .tooltip {
    float: none; }
  #admin_panel .all_stats_link {
    margin-top: 5px; }
    #admin_panel .all_stats_link a {
      background: url(/images/icons/circle_blue_arrow_right.gif?1GNfN4W5) no-repeat top left;
      padding-left: 20px;
      font-weight: bold;
      color: #565656; }
  #admin_panel dl.featured {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #f0f0f0;
    font-weight: bold;
    color: #565656; }
  #admin_panel a.home {
    display: block;
    text-align: right;
    margin: -6px 0 3px; }
  #admin_panel h3 {
    background-color: #343434;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right: 8px;
    color: white;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-size: 18px;
    padding: 12px 0 8px 12px;
    text-align: left; }
  #admin_panel h4 {
    background: #f0f0f0;
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px;
    padding: 3px 0 3px 8px; }
  #admin_panel .page_content {
    padding: 0 8px; }
  #admin_panel .share .label, #admin_panel .share .rounded_right {
    display: none; }
  #admin_panel .dashboard {
    background: none;
    margin: 0 0 10px 0;
    padding: 0 0 0 8px;
    width: auto; }
    #admin_panel .dashboard ul {
      background: none;
      border: none; }
  #admin_panel ul.stats dt {
    float: left;
    font-weight: normal;
    width: 120px;
    margin-right: 5px; }
  #admin_panel ul.stats dd {
    float: left;
    padding-bottom: 0; }
  #admin_panel ul.stats li {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding: 0 0 10px 8px; }
  #admin_panel ul.stats li:last-child {
    border-bottom: none;
    padding-bottom: 0; }
  #admin_panel .quick_links ul, #admin_panel .quick_links p {
    margin-bottom: 5px;
    padding-left: 8px; }
  #admin_panel .admin_links h4 {
    margin: 1em 0; }
  #admin_panel .admin_links p {
    font-size: 11px;
    padding-left: 8px; }
  #admin_panel .icon_print a, #admin_panel .icon_excel a, #admin_panel .icon_doc a, #admin_panel .icon_barcode a {
    display: block;
    border-bottom: 1px solid #f0f0f0; }
  #admin_panel #ratings #award_link, #admin_panel #ratings #flag_link {
    margin-left: auto;
    width: auto;
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right: 0px; }
  #admin_panel #ratings #award_link {
    border-top: 1px solid #cccccc; }
  #admin_panel #ratings small {
    text-align: left; }

a.tooltip {
  background: url(/images/groupon/icons/question.png?DHv1IdLY) no-repeat left center;
  cursor: help;
  display: inline-block;
  font-size: 1px;
  height: 17px;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999em;
  vertical-align: top;
  width: 14px; }

div.tooltip {
  background-image: -moz-linear-gradient( top,  #fff 0% ,  #e9eee3 100%  );
  background-image: -webkit-gradient( linear, 0  0% , 0  100% , from( #fff ), to( #e9eee3 ) );
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 3px #666666 ;
  -webkit-box-shadow: 0 1px 3px #666666 ;
  box-shadow: 0 1px 3px #666666 ;
  background-color: white;
  border: 1px solid white;
  display: none;
  font-size: 11px;
  left: 100px;
  overflow: hidden;
  position: absolute !important;
  top: 300px;
  width: 250px;
  z-index: 20000 !important; }
  div.tooltip.showing {
    display: block; }
  div.tooltip h4, div.tooltip p {
    line-height: 1.5;
    margin: 0;
    padding: 5px 15px; }
  div.tooltip h4 {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right: 10px;
    background: #c7ddad;
    border-bottom: 1px solid #b3c69b;
    color: #444444;
    font-size: 12px;
    font-weight: bold; }
  div.tooltip p {
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right: 10px;
    font-size: 11px; }

.js_enabled .notification_bubble_on {
  display: none; }
.js_enabled .tooltip_target {
  display: none; }

.cached #above_main, .cached .logged_in {
  display: none; }

.deal_options div.title {
  font-size: 1.2em;
  font-weight: bold; }
.deal_options table.pledges {
  width: 100%; }
  .deal_options table.pledges tr td {
    padding: 5px 5px 5px 10px; }
  .deal_options table.pledges tr td.description {
    text-align: left; }
    .deal_options table.pledges tr td.description a.title {
      font-weight: bold;
      font-size: 1.4em;
      line-height: 16px; }
    .deal_options table.pledges tr td.description .details {
      font-size: 1.2em;
      line-height: 1;
      color: #666666;
      padding: 3px 0 0 0; }
      .deal_options table.pledges tr td.description .details em {
        color: #333333;
        font-weight: bold; }
      .deal_options table.pledges tr td.description .details .expiration_date {
        padding: 3px 0 0 0;
        font-size: 10px;
        color: #666666; }
  .deal_options table.pledges tr td.status {
    width: 100px;
    text-align: right;
    color: #666666; }
    .deal_options table.pledges tr td.status div {
      font-size: 1.4em;
      line-height: 1.2; }
  .deal_options table.pledges tr td.purchase {
    width: 80px;
    text-align: center; }
    .deal_options table.pledges tr td.purchase a.buy_button {
      padding-left: 5px;
      display: block;
      text-decoration: none;
      color: white;
      width: 75px;
      height: 34px;
      border-left: 2px solid #cccccc;
      line-height: 1.8;
      margin: auto; }
      .deal_options table.pledges tr td.purchase a.buy_button span {
        vertical-align: middle; }
      .deal_options table.pledges tr td.purchase a.buy_button span.amount {
        font-size: 1.8em;
        font-weight: bold; }
      .deal_options table.pledges tr td.purchase a.buy_button span.symbol {
        font-size: 1.2em; }
  .deal_options table.pledges tr.sold_out a, .deal_options table.pledges tr.sold_out a:hover, .deal_options table.pledges tr.sold_out div {
    color: #999999;
    text-decoration: none;
    cursor: default; }
  .deal_options table.pledges tr.sold_out td.description .details, .deal_options table.pledges tr.sold_out td.description .details em, .deal_options table.pledges tr.sold_out td.description .details .expiration_date small {
    color: #999999; }
  .deal_options table.pledges tr.sold_out td.status div.sold_out {
    color: #ed5824;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em; }
  .deal_options table.pledges tr.even {
    background-color: #f0f2f1; }
    .deal_options table.pledges tr.even td.purchase a.buy_button {
      background: url(/images/groupon/buttons/multideal_option_price_greybg.jpg?heVNuYfw) no-repeat center right; }
  .deal_options table.pledges tr.even.sold_out td.purchase a.buy_button {
    background: url(/images/groupon/buttons/multideal_option_price_disabled_greybg.jpg?SgvBldsR) no-repeat center right; }
  .deal_options table.pledges tr.odd {
    background-color: white; }
    .deal_options table.pledges tr.odd td.purchase a.buy_button {
      background: url(/images/groupon/buttons/multideal_option_price_whitebg.jpg?WITEK7y4) no-repeat center right; }
  .deal_options table.pledges tr.odd.sold_out td.purchase a.buy_button {
    background: url(/images/groupon/buttons/multideal_option_price_disabled_whitebg.jpg?vS-FF_--) no-repeat center right; }

.ie6 .facebook_like {
  overflow: hidden;
  width: 85px; }

.share_inline {
  clear: both; }
  .share_inline .share-links .refer_title, .share_inline .share-links .fb_share, .share_inline .share-links .twitter_share, .share_inline .share-links .email_share {
    float: left; }
  .share_inline .share-links .refer_title {
    background: #fdf9cc;
    padding: 1px 2px;
    margin-right: 12px;
    font-size: 1.2em;
    font-weight: bold; }
    .share_inline .share-links .refer_title img {
      vertical-align: text-bottom; }
  .share_inline .share-links .email_share {
    background: url(/images/groupon/icons/share-email.gif?rQ4Rfbwo) no-repeat;
    width: 53px;
    height: 20px;
    cursor: pointer;
    margin-right: 18px;
    text-indent: -9999em; }
    .share_inline .share-links .email_share:hover {
      background: url(/images/groupon/icons/share-email_hover.gif?V-gBB9jA) no-repeat; }
  .share_inline .share-links .fb_share {
    max-width: 90px; }

.optimizer_test_share_links_v2 .control .share_inline {
  padding-top: 10px; }
  .optimizer_test_share_links_v2 .control .share_inline .share-links {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0 0; }
.optimizer_test_share_links_v2 .variant_1 {
  display: none; }
  .optimizer_test_share_links_v2 .variant_1 .share_inline {
    margin-bottom: 10px; }
.optimizer_test_share_links_v2 .variant_2 {
  display: none; }
  .optimizer_test_share_links_v2 .variant_2 .sharing {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ddedcc;
    border: 1px solid #98c267;
    overflow: hidden;
    height: 20px; }
    .optimizer_test_share_links_v2 .variant_2 .sharing p.share_label, .optimizer_test_share_links_v2 .variant_2 .sharing .share {
      float: left; }
    .optimizer_test_share_links_v2 .variant_2 .sharing .share_label {
      font-weight: bold;
      margin: 1px 2px 0 0; }
    .optimizer_test_share_links_v2 .variant_2 .sharing ul.share_links {
      display: inline-block;
      vertical-align: middle; }
      .optimizer_test_share_links_v2 .variant_2 .sharing ul.share_links li {
        float: left;
        margin: 0 0 0 8px; }
      .optimizer_test_share_links_v2 .variant_2 .sharing ul.share_links .facebook_like {
        width: 85px;
        overflow: hidden; }

.merchant_info {
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 50px;
  display: none; }
  .merchant_info .merchant_name {
    float: left;
    color: #0981be; }
  .merchant_info .location_name {
    color: #b4b4b4;
    float: left;
    padding: 0 0 10px 6px; }

.email_subject {
  display: none; }

#rail #groupon_promise {
  padding: 0;
  text-align: center; }
  #rail #groupon_promise h3 {
    background: #ddedcc;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    font-size: 12px;
    font-weight: bold;
    margin: -10px 0 0;
    padding: 6px 0; }
  #rail #groupon_promise img {
    padding: 5px 0; }
  #rail #groupon_promise p {
    margin: 0;
    padding: 0 10px 5px;
    text-align: left; }

.company.vcard .reviews h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
  padding: 0; }

.landing h2 {
  font-size: 20px;
  font-weight: normal; }
.landing h3 {
  font-size: 14px; }
.landing .categories {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px; }
.landing .field {
  margin-bottom: 0; }

#new_subscription {
  margin-bottom: 30px; }
  #new_subscription p {
    margin: 0; }
  #new_subscription .buttons {
    padding-top: 10px; }

.featured_on_icons_list ul {
  list-style-type: none; }
  .featured_on_icons_list ul li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap; }
    .featured_on_icons_list ul li.first, .featured_on_icons_list ul li:first-child {
      padding-left: 0px; }
    .featured_on_icons_list ul li.last, .featured_on_icons_list ul li:last-child {
      padding-right: 0px; }
