<script type="text/template" id="stringTemplate">
    <span><%= value %></span>
</script>

<script type="text/template" id="dateTemplate">
    <span><%= new Date(value/1000) %></span>
</script>

<script type="text/template" id="intTemplate">
    <span><%= value %></span>
</script>

<script type="text/template" id="uriTemplate">
    <span><a href="<%= value.indexOf('http') == 0 ? value : Lablz.serverName + '/v/' + value %>"><%= value %></a></span>
</script>

<script type="text/template" id="imageTemplate">
    <span><img src="<%= value.indexOf('http') == 0 ? value : Lablz.serverName + '/v/' + value %>" /></span>
</script>

<script type="text/template" id="listItemTemplate">
	<a href='#view/<%= id %>'><%= davDisplayName %></a>
</script>

<script type="text/template" id="viewTemplate">
	<div>
		<% for (var name in props) { %> 
			<% if (props.hasOwnProperty(name)) { %>
				<div class="propRow"><%= name %>: <%= props[name] %></div>
			<% } %>
		<% } %>
	</div>
</script>