#calendar_container
{
	padding: 0;
	text-align: center;
	background: url(img/background.jpg);
}

#iphone_calendar 
{
  width: 100%;
  margin: 0px;
  font-family: Helvetica;
  color: rgb(80, 93, 110);
  -moz-user-select: none;
  text-align: center;
  float: left;
}
#iphone_calendar .header 
{
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  background: url(img/header.jpg);
}

#iphone_calendar .box
{
	background: url(img/background.jpg);
  padding: 0px;
  border: none;
  overflow: hidden;
  
  width: 100%;
}

#iphone_calendar .box table { width: 100%; }

#iphone_calendar .header .back, #iphone_calendar .header .back_year { float: left; margin-left: 22px; margin-top: 12px; cursor: pointer; }
#iphone_calendar .header .back_year { margin-left: 15px; }

#iphone_calendar .header .forward, #iphone_calendar .header .forward_year { float: right; margin-right: 22px;  margin-top: 12px; cursor: pointer; }
#iphone_calendar .header .forward_year { margin-right: 15px; }

#iphone_calendar .header .month_year { font-size: 20px; padding-top: 7px; padding-bottom: 4px; font-weight: 900; text-align: center; }

#iphone_calendar .header .day_name 
{
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: rgb(109, 109, 111);
  width: 14%;
  margin-right: 2px; /* like vertical line/delimiter */
}

#iphone_calendar .cell, #iphone_calendar .cell_current, #iphone_calendar .cell_grayed 
{
  
  border: 0px;
  border-right: 2px groove #fff;
  border-bottom: 2px groove #fff;
  
  width:  14%;
  height: 42px;
  
  text-align: center;
  line-height: 42px;

  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  
  cursor: pointer;
}

#iphone_calendar .cell_current { background: rgb(23, 124, 228); color: #fff; }
#iphone_calendar .cell_grayed { cursor: auto; color: rgb(155, 160, 166);  }

