 
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr> 
    <td>
      <table width="100%" border="1" cellspacing="0" cellpadding="3" bgcolor="#CCCCFF">
        <tbody> 
        <tr>
          <td>&[fileName];</td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <tr> 
    <td>
      <hr noshade />
    </td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" borderwidth="0">
        <tbody> 
        <tr> 
          <td align="left"><b>&[branch];:</b></td>
          <td align="right"> 
            <!--No Documentation-->
          </td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <[revisions]> 
  <tr> 
    <td> 
      <table cellspacing="0" cellpadding="2" width="100%" borderwidth="0">
        <tbody> 
        <tr> 
          <td bgcolor="#e0e0e0" colspan="2"><b><a href="&[revisionTextLink];">Revision&#160;&[revisionNumber];</a></b><i>&#160;&#160;&[revisionDate];</i>&#160;&#160;by&#160;<i>&[revisionAuthor];</i></td>
          <td align="right" bgcolor="#e0e0e0" width="5%"><i><a href="&[revisionTextLink];">text</a></i></td>
        </tr>
        <tr> 
          <td valign="top" align="left" bgcolor="#ffffff" width="10%"><b>Diffs</b></td>
          <td align="left" bgcolor="#ffffff" width="80%" valign="top"><a href="&[revisionDiffLink];">&[prevRevisionNumber];</a></td>
          <td align="right" bgcolor="#ffffff" width="10%" valign="top">&[revisionLines];</td>
        </tr>
        <tr> 
          <td valign="top" align="left" bgcolor="#ffffff" width="10%"> </td>
          <td align="left" bgcolor="#fdfdec" colspan="2">&[revisionMessage];</td>
        </tr>
        </tbody> 
      </table>
    </td>
  </tr>
  <@> 
</table>
