img {
  vertical-align: middle;
}

a img {
	border: 0;
	vertical-align: middle;
}

a.icotxt {
  white-space: nowrap;
  text-decoration: none;
}

a.icotxt img {
	border: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	padding-right: 0.5em;
}

.requiredProp {
  color: #ff0000; font-weight: bold;
}

.propLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;
  white-space: nowrap;
}

H1 {font-family: arial, Verdana, geneva; font-size: 17px; font-weight: bold;  color: #00309C}
H2 {font-family: arial, Verdana, geneva; font-weight: normal; font-size: medium; color: #6699CC}
H3 {font-family: arial, Verdana, geneva; font-size: 15px; font-weight: normal; color: #3366aa}

img.fade {
   opacity:       0.6;
}

.tabs {
  height: 33px;
  cursor: pointer;
}

.tabs img {
  border: 0;
}

.tabs a:link, .tabs a:visited {
  font-size: 8pt;
  font-weight: normal;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tabs .left, .tabs .right {
  width:12px;
}
/*
.tabs TD.left {
  background-image:url(../images/skin/blue/tab-left.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.tabs TD.middle {
  background-image:url(../images/skin/blue/tab-middle.gif);
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.tabs TD.middle img {
  width: 16px; height: 16px; padding-right: 5px;
}

.tabs TD.right {
  background-image:url(../images/skin/blue/tab-right.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
*/
/* ----- Buttons ----- */
.button_blue, .button_green, .button_grey, button.orange {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.but_left, .but_right {
	width:14px;
	height:23px;
}

.but_center {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:0px 2px 0px 2px;
}
.but_center A {
	text-decoration: none
}

.button_blue TD.but_left {
	background-image:url(../images/skin/blue/button-left.gif);  background-repeat: no-repeat;
}
.button_blue TD.but_right {
	background-image:url(../images/skin/blue/button-right.gif); background-repeat: no-repeat;
}
.button_blue TD.but_center {
	background-image:url(../images/skin/blue/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_blue A, .button_blue A:hover {
	color:#FFF;
}

.button_grey TD.but_left {
	background-image:url(../images/skin/grey/button-left.gif);  background-repeat: no-repeat;
}
.button_grey TD.but_right {
	background-image:url(../images/skin/grey/button-right.gif); background-repeat: no-repeat;
}
.button_grey TD.but_center {
	background-image:url(../images/skin/grey/button-middle.gif); background-repeat: repeat-x;
	color:#000;
}
.button_grey A, .button_grey A:hover {
	color:#000;
}

.button_orange TD.but_left {
	background-image:url(../images/skin/orange/button-left.gif);  background-repeat: no-repeat;
}
.button_orange TD.but_right {
	background-image:url(../images/skin/orange/button-right.gif); background-repeat: no-repeat;
}
.button_orange TD.but_center {
	background-image:url(../images/skin/orange/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_orange A, .button_orange A:hover {
	color:#FFF;
}

.button_green TD.but_left {
	background-image:url(../images/skin/green/button-left.gif);  background-repeat: no-repeat;
}
.button_green TD.but_right {
	background-image:url(../images/skin/green/button-right.gif); background-repeat: no-repeat;
}
.button_green TD.but_center {
	background-image:url(../images/skin/green/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_green A, .button_green A:hover {
	color:#FFF;
}
.pieTitle {font-family:sans-serif, arial; font-weight:bold; font-size:16px; color:#00309C;}
/* ----- End of Buttons ----- */

/* -- powered by on blue, larger letters */
.large-poweredBy   {padding-left:4px; padding-top:6px; font-family:Times; font-size:18pt; color:#FFFFFF; text-decoration: none;}
.large-poweredBy-b {padding-left:0px; padding-top:6px; font-family:Times; font-size:18pt; color:#94C7F1; text-decoration: none;}

/* -- powered by on white */
.poweredBy     {font-family:Times; font-size:8pt; color:#4088CF; text-decoration: none;}
.poweredBy-b   {font-family:Times; font-size:8pt; color:#68B6EF; text-decoration: none;}

.poweredBy-td {background:URL(../images/poweredBy-bg.gif); background-repeat:no-repeat; background-position:bottom; border:solid #808080 1px; color:#000000; }

/**
* textCol, iconCol, textCell, greyBorder are used to display h3 elements as icon, title and text
*/
td.textCol {
  padding-top: 8px;
	padding-left: 4px;
	font-size: 70%;
	font-family: verdana;
	font-weight: bold;
	color: #337;
}

td.iconCol {
	text-align: center;
	vertical-align: top;
	padding: 6px 6px;
}

td.textCell {
	font-family: verdana;
	font-size: 70%;
	padding-left: 4px;
	padding-top: 10px;
	padding-bottom: 12px;
	color: #555;
}

table.greyBorder {
	border-right: #d7d7d7 1px solid; border-top: #d7d7d7 1px solid; border-left: #d7d7d7 1px solid; border-bottom: #d7d7d7 1px solid
}

/* Tabs for control panel and property sheet */

  .cpTabs {
    cursor: pointer;
    height: 23px;
  }

	.cpTabs TD.left {
	  background-image:url(../images/skin/rustyrose/tab-left-small.gif);
	  background-repeat: no-repeat;
	}
	.cpTabs TD.middle {
	  background-image:url(../images/skin/rustyrose/tab-middle-small.gif);
	  background-repeat: no-repeat;
	  text-align: center;
	  overflow: hidden;
    white-space: nowrap;
	  color: #662d91;
	}
	.cpTabs TD.right {
	  background-image:url(../images/skin/rustyrose/tab-right-small.gif);
	  background-repeat: no-repeat;
	}
  .cpTabs .left, .right {
    width:8px;
  }

  .currentCpTabs {
    height: 27px;
  }


  .currentCpTabs .left, .right {
    width:12px;
  }

	.currentCpTabs TD.left {
	  background-image:url(../images/skin/orange/tab-left-medium.gif);
	  background-repeat: no-repeat;
	}
	.currentCpTabs TD.middle {
	  background-image:url(../images/skin/orange/tab-middle-medium.gif);
	  background-repeat: no-repeat;
	  text-align: center;
    white-space: nowrap;
	  color: #754c24;
	  font-weight: bold;
	}
	.currentCpTabs TD.right {
	  background-image:url(../images/skin/orange/tab-right-medium.gif);
	  background-repeat: no-repeat;
	}

  .currentTabTitle {
	  background-image:url(../images/skin/orange/tab-middle.gif);
	  background-repeat: repeat-x;
	  color: #754c24;
	  font-weight: bold;
	  font-size:14px;
    height: 27px;
  }
  .currentTabTitleHidden {
    visibility:hidden; display:none;
    height: 27px;
  }
  .hiddenDiv {
    visibility:hidden; display:none;
  }
  .colsCheckbox {
    padding-left:4px;padding-right:3px;padding-top:2px;padding-bottom:2px;
  }

/* two column (both liquid) pure css tableless layout */
.chooser {
  left: 0.3em; top: 8.5em; width: 73.33333%; z-index: 2; position: absolute; margin: 0; padding: 0;
}

.addedItems {
  max-width: 30em;
	left: 73.33333%; top: 7em; z-index: 2; position: absolute; margin: 0;
	padding-top:  2.5em;
	padding-left: 1em;
}


