body { -webkit-text-size-adjust: none; }
/* overriding jqm rules */
/*
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
   display: block;
   visibility: hidden;
}
.ui-mobile .ui-page-active {
   visibility: visible;
}
.ui-page-pre-in {
  opacity: 0;
}
*/
.ui-btn-up-g:first-child, .ui-btn-up-f:first-child {
  border-top-width:1px;
}
/* end overriding jqm rules */

html { height: 100%; }
/* Gallery */
.galleryItem, .galleryItem_css3 {
  border-width: 0px;
  padding: 0px;
  border-spacing: 0px;
/*  margin: 10px 10px 6px 10px; */
  margin: 8px 10px 6px 8px;
}
.galleryItem_css3 img { float: left;}
.galleryItem_container .galleryItem, .galleryItem_container .galleryItem_css3 { margin: 0px; }
.nab .anab  { box-shadow: none;}
.nab .anab span { padding-right: 12px; }
.nab .anab .b span { padding-right: 0px; padding-left: 0px; color: #393939; font-weight: normal;}

.nab .nabP { background: #f2f2f2; }
.nab .nabP td { padding: 5px 2px 5px 10px; vertical-align: top;}
.nabT { padding: 0px 7px 7px 10px; }
.nab .nabP img  { width: 24px; padding-right: 5px; border: 0; }
.nab .nabP #-inner img  { padding-right: 0px; }

@media screen and (orientation:portrait) {
    /* Portrait styles */
  .nabBoard {
    width: 292px !important;
  }
  
  .nab .anab .galleryItem_css3 img {
    max-width: 272px !important;
  }
}

@media screen and (orientation:landscape) {
    /* Landscape styles */
  .nabBoard {
    width: 225px !important;
  }
  
  .nab .anab .galleryItem_css3 img {
    max-width: 205px !important;
  }
}

.anab .nabRL #-inner img  { width: 16px;  padding-right: 2px; border: 0; /*vertical-align: top;height: 16px; */}

.masonry .masonry-brick .ui-li-aside {
  color:#ccc;
  padding:3px 25px;
  width:auto;
  background:rgba(153,0,153,.85); 
  border-radius:0 0 0 10px; 
  -webkit-border-bottom-left-radius: 10px; 
  right: -1px;
  top:-5px;
  position:absolute;
 }


.nab .modP img { padding-right: 5px; }
.galleryItem, .galleryItem_css3, .galleryItem_Nab { position: relative; }
.galleryItem_css3, galleryItem_nab { 
  display: inline-block; 
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
 }

.likes_tbl {  position: absolute; opacity: 0; visibility: hidden; z-index: 1; top: 0px; left: 0px; border-collapse: collapse; }
.likes_tbl td { background-color: rgba(0, 0, 0, 0.4); #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)";
  padding: 0px 5px 5px 5px; width: auto; }
.likes_tbl .fbLikeWidget { margin: 0 5; }

.galleryItem td#whiteRight {
  background-image:url(../images/frame/white_bg/right.jpg);
  vertical-align: top; background-position: top; background-repeat: repeat-y;
}

.galleryItem td#grayBottom {
  background-image:url(../images/frame/gray_bg/bottom.jpg);
  vertical-align: top; background-position: top; text-align: left; background-repeat: repeat-x;
}

.galleryItem td#whiteBottom {
  background-image:url(../images/frame/white_bg/bottom.jpg);
  vertical-align: top; background-position: top; text-align: left; background-repeat: repeat-x;
}

.galleryItem #whiteBottom td {
  height: 11px;
}

.galleryItem img#rightTop {
  height: 17px; width: 11px; border: 0px; vertical-align: top;
}

.galleryItem img#leftBottom {
  height: 11px; width: 14px; border: 0px; vertical-align: top;
}

.galleryItem img#rightBottom {
  height: 11px; width: 11px; border: 0px; vertical-align: top;
}

.nab .tag {
  background: none;
  padding-left: 5px;
  border-right: none;
}

.arrow_td, .arrow_td_empty { padding: 0px 2px; min-width: 14px; font-size: 18px !important; font-weight: bold; text-align:center; }
.arrow_td { cursor: pointer; }
.arrow_td { background-color: &[PrimaryColor_1];;}

.param_tr .label_td { white-space: nowrap; position: relative; } 
.param_tr .field_comment, #mkresource .field_comment { height: 57px !important; }
.param_tr .label { -moz-user-select: none; white-space: nowrap; font-size: 16px; font-weight: bold; overflow: visible; color: &[PrimaryColor_4_text];;}
.param_tr .label img { margin-right: 3px; }
.param_tr .comment { color: &[SecondaryColorB_3];; font-size: 11px; }
.param_tr .comment a { font-size: 11px; }
* html .label_td .comment { left: 0; }
* html .dat_td .comment { left: 5px; } /* hack for multivalue */
.field_comment .comment { margin-top: 5px; }


.nab { float: left; width: 192px; margin: 5px; padding: 15px 15px 0; font-size: 12px; background-color: #ffffff; border: 1px solid #DDDDDD; box-shadow: 0 0px 1px #AAAAAA;}

.ui-body-a .ui-content .nab a { color: #757575; text-shadow: 0 1px 0 #fff } 

/*#nabs_grid .nab { visibility: hidden; }*/
.dList #nabs_grid .nab { visibility: visible; } /* TODO: implement 2 (RL) masonry and delete this rule */

/* hide "bricks" initially and show them only ones are aligned */ 
.masonry > li, .masonry > div { visibility: hidden; }
.masonry .masonry-brick { visibility: visible; }

.nab .modP .urbien { padding-left: 10px; }
.nab .modP .urbien img {
    width: 50px;
    position: absolute;
    clip: rect(0px, 50px, 70px, 0px);
}
.nab .nabP .urbien { padding-left: 10px; }
.nab .nabP .urbien img {width: 50px;}



.gnab { font-size: 11px; }
.nab .anab .galleryItem_css3 img {max-width: 205px;}
.nab .anab .galleryItem_css3 { display: inline-block; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

.renab img { width:16px;height:14px; margin-top: -4px;}
.renab img {max-width: 14px; padding-right: 3px; }

.nab td, #siteResourceList #front .nab .label {font-size: 11px;}
.nab a {text-decoration: none;}

.nab .action {color: #98c165; font-weight:bold; font-size: 8pt;}

.dList {padding-top:10px; background: #f7f5f7;}
.pList {padding-top:15px;padding-left:15px; background: #f7f5f7;}
.aList { padding:15px 0px 0px 0px; background: #f7f5f7;}
.renab, .nab .pLink {color: #757575;}
/* BOARD CELL

#renabs span.action   {font-weight:bold;font-size:8pt;color:#000066;}

--------------------------------------------------------------------------------------- */
.nabBoard {width: 222px !important; padding: 0 !important; cursor: pointer;}

.nabBoard h3, .gridBoard h3 { height: 20px; padding: 11px 15px 5px; font-size: 13px; font-weight: 300; overflow: hidden;margin: 0}
h3#pageTitle {margin: 10px 0 7px 0;}
.gridBoard {max-width: 669px !important; padding: 0 !important;cursor: pointer;}
.nabBoard .link { height: 200px; display: block; padding: 0 0 10px 12px; overflow: hidden;}
.gridBoard .link {display: block; padding: 9px 0 4px 12px; overflow: hidden;}
.nabBoard .link img, .gridBoard .link img  {float: left; width: 100px; /* magnify: 100 / 61 */ margin-left: -20px; /* set at horizontal center */ }
.boardsTitle, .nabTitle {margin-left: 10px; padding-top: 5px; font-size: 16pt; color: #cb2027; }
.boardsTitle a { color: #f47414; }

#comments a, #renabs a {color: #f47414; }
.nabBoard .link div, .gridBoard .link div { width: 61px; height: 61px; border: 1px solid #f0f0f0; overflow: hidden; float: left; margin: 0px 4px 4px 0px;}

.nabBoard .editBoard {padding: 0 15px 11px; text-align: center;}
.nabBoard .editBoard .Buttn {display: block; padding: 0.5em 0.825em;}

.editBoard a {font-size: 13px;} 
.WhiteButton {color: #524d4d; text-shadow: 0 1px rgba(255,255,255,0.9);}

.anab .nabRL  { display: inline; }
.anab .nabRL div { padding: 0px 10px 10px 10px;}

.anab .nabRL .btn span {padding-right: 0; }

.modP tr {vertical-align: top;}
.lc1 a {
  padding: 5px;
  background-color: #ffba24;
  background-image: -moz-linear-gradient(top center, #fff167, #ffba24);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff167), to(#ffba24));
  background-image: -o-linear-gradient(#fff167, #ffba24);
  #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff167,endColorstr=#ffba24);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff167,endColorstr=#ffba24)";

  border: 1px solid #ffba24;
  
}
.lc1 img {
  max-width: 32px;
}
.btn { text-align: center; padding-bottom: 3px; height: 25px; }
.nabRL .btn a { color: #757575; text-shadow: none; }

.commentListDate {
  color: #999999;
  font-size: 11px;
}
#comments {padding-top: 12px; padding-bottom: 12px;}
.commentList {
  background-color: &[PrimaryColor_4];; 
  border-bottom: #ccc; 
  border-bottom-style: solid; 
  border-bottom-width: 1px; 
  padding-top: 12px; 
  padding-bottom: 12px;
  font-size: 12px;
  text-align: left;
}
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
#resourceViewHolder .cp {text-decoration: none; font-size: 14px; /*border-top:0px;border-left:1px; background-image:none;*/}
.commentList .cl { padding-left: 5px; }
.commentList a { color: #f47414; font-size: 11px; text-decoration: none; font-weight: bold; }
.commentListDate {
  color: #999999;
  font-size: 11px;
}
.commentList img {
  max-height: 60px;
  max-width: 50px;
}
/*
@media screen and (orientation: portrait) {
  .nab {
    background-color: #0f0;
  }
}
*/

/* big symbols in the top navbar */
.navbarUl .ui-icon {
    background: none;
    box-shadow: none;
/*    color: #444444;*/
    font-size: 32px;
    margin-left: -14px;
}

#categories .ui-icon {
  font-size: 18px;
}
#categories .ui-btn-inner .ui-icon {
  margin: 0px !important;

}
/* navbar no text - icons only */ 
.navbarUl .ui-btn-inner { font-size: 0px; }
/* #headerUl .ui-btn { padding: 3px 0px; } */
#sell .ui-btn-inner { border: none; }
/*@media (max-width: 328px)  {*/
/* @media only screen and (max-divice-width: 480px;)  { */
/*
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  .nab .anab .galleryItem_css3 img {max-width: 272px;}
  .nabBoard {width: 290px !important; padding: 0 !important; cursor: pointer;}
  .nabBoard .link { height: 260px; display: block; overflow: hidden;}
}
*/
@media screen and (max-device-width: 480px) and (orientation: portrait) {

/*@media all and (min-width: 298px) { */
  .nab { margin: auto; margin-top: 5px; margin-bottom: 5px; padding: 15px 15px 0; float: none; font-size: 11px; background-color: #fff; border: 1px solid #DDDDDD; box-shadow: 0 0px 1px #AAAAAA;}
  .nab .anab .galleryItem_css3 img {max-width: 272px;}
  .nabBoard {width: 290px !important; padding: 0 !important; cursor: pointer;}
  .nabBoard .link { height: 260px; display: block; overflow: hidden;}
  #resourceImage img {max-width: 320px;}
/*  #sidebar {margin: 0} */
  .ui-listview .connect { float: left; top:60px; padding:0px; border:0px; background: none;background-image:none;}
  .connect i { font-size:16px; color: #888;}
}
@media all and (min-width: 468px){
  #sidebarDiv #nabs_grid {left: -15px;}
}
/*
@media all and (min-width: 468px){
  .nab .anab .galleryItem_css3 img {max-width: 205px;}
  .nabBoard {width: 222px !important; padding: 0 !important; cursor: pointer;}
  .nabBoard .link { height: 200px; display: block; padding: 0 0 10px 12px; overflow: hidden;}
}
@media all and (min-width: 768px){
  .nab { margin: auto; margin-top: 5px; margin-bottom: 5px; padding: 15px 15px 0; float: none; font-size: 12px; background-color: #fff; border: 1px solid #DDDDDD; box-shadow: 0 0px 1px #AAAAAA;}
  .nab .anab .galleryItem_css3 img {max-width: 205px;}
  .nabBoard {width: 222px !important; padding: 0 !important; cursor: pointer;}
  .nabBoard .link { height: 200px; display: block; padding: 0 0 10px 12px; overflow: hidden;}
}
*/
#mainGroup div {white-space:normal; height: 60px; }
/* #mainGroup span {text-shadow: 0 1px 0 #bbb;} */
#mainGroup .ui-btn-inner { padding: 1.3em 10px; font-size: 14px;}
#mainGroup .ui-listview .ui-icon { display: none;  }
#mainGroup .ui-icon { display: none;  }
#resourceView { font-size: 16px; }
#resourceView p { margin-top: 0.5em; }
/* login popup icon for Live social net (lack in awesome font currently) */
.ui-icon-live-sign:before { content: url(../images/frame/white_bg/live-sign.png); border-radius: 4px; background-color: #aaa; padding: 2px; margin-left: 1px; }
.ui-icon-live-sign { margin-top: 0px !important; line-height: 10px !important; }
#login_popup .big_symbol { float: left; font-size: 25px; color: #aaaaaa; line-height: 100%; margin: 0px 0px 0px -8px; }

/* default images 'fitting' in RL in case when image dimensions are uknown. Use "max-height: none" only with processed images */
.image_fitted .ui-li-thumb { max-width: none; max-height: none; min-width: 80px; min-height: 80px; clip: rect(0px, 80px, 80px, 0px); }
.menu_image_fitted .ui-li-thumb { max-width: 42px; max-height: none; min-width: 42px; min-height: 42px; clip: rect(0px, 42px, 42px, 0px); }
.menu_image_fitted .thumb { margin-right:4px; max-width: 42px; max-height: none; float:right; min-width: 42px; min-height: 42px; clip: rect(0px, 42px, 42px, 0px); position: relative;}
#rightMenuItems li div, #menuItems li div {padding-top: 0px; padding-right: 0px; padding-left: 0px; font-weight:normal;font-family:Tahoma,Helvetica,Arial;}
#menuItems li {padding-bottom: 0px; }
#rightMenuItems li[role="heading"], #menuItems li[role="heading"] {padding-bottom:10px;font-size:18px;font-weight:normal;font-family:Tahoma,Helvetica,Arial;}


/* JQM toggle switch ali gnment in a listview */
.ui-field-contain div.ui-slider-switch { right: 15px; }
.headerMessageBar {
  margin:0;
  padding:10px 0 10px 0;
  text-align:center;
  text-shadow:none;
  border: 1px solid black;
  color:#000;
}

.headerMessageBar.errorMessageBar {
  background-color:red;
  color:#ccc;
}

.headerMessageBar.infoMessageBar {
  background-color:#fffc40;
}

.headerMessageBar.tipMessageBar {
  background-color:#b3cafa;
}

.ui-icon-delete.closeparent {
  float:right; 
  width:20px; 
  height:20px; 
  color: white;
  cursor: pointer;
}

.buyButton { float:right; }

*.ui-listview *.ui-btn-up-c,
*.ui-listview *.ui-btn-down-c,
*.ui-listview *.ui-btn-hover-c {
/*  border: 1px solid     #ccc*/ /*{c-bup-border};*/
  background:       #eee /*{c-bup-background-color}*/;
  font-weight: bold;
  color:          #222 /*{c-bup-color}*/;
  text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.badge, .menuBadge, .appBadge {
/*
  commented out since this gradient crashes android stock browser
  
  background: radial-gradient( center -9px, circle closest-side, white 0, red 26px );
  background: -moz-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
  background: -ms-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
  background: -o-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
  background: -webkit-radial-gradient( center -9px, circle closest-side, white 0, red 26px );
*/  
  background-color: red;
  border: 2px solid white;
  border-radius: 12px; /* must be 1/2 of ( border-width*2 + width ) */
  box-shadow: 1px 1px 1px black;
  color: white;
  font: bold 17px/15px Helvetica, Verdana, Tahoma;
  height: 18px; /* height + padding-top must equal width */
  padding: 2px 2px 0 2px; /* height + padding-top must equal width */
  text-align: center;
  min-width: 16px;
}

.menuBadge {
  position: absolute; 
  top: -30px; 
  left: 8px; 
  font-size: 12px;
}

.appBadge {
  background: radial-gradient( center -9px, circle closest-side, white 0, blue 26px );
  background: -moz-radial-gradient( center -9px, circle closest-side, white 0, blue 26px );
  background: -ms-radial-gradient( center -9px, circle closest-side, white 0, blue 26px );
  background: -o-radial-gradient( center -9px, circle closest-side, white 0, blue 26px );
  background: -webkit-radial-gradient( center -9px, circle closest-side, white 0, blue 26px );
  position: absolute; 
  top: 0px; 
  right: 5px; 
  font-size: 12px;
  background-color: blue;
}

#homeBtn .ui-icon, #nextPage .ui-icon, #edit .ui-icon { width:20px; height:20px; line-height: 18px; }
#edit .ui-icon {line-height: 25px;}

/* .commonLI { margin-left: -12px; padding-top:3px; overflow: auto; } */
.commonLI img { max-height: 30px;float:left; }
.commonLI { margin-left: 5px; font-weight: normal; font-size: 16px; padding-top:3px; overflow: auto; display:inline;}

.dateLI { float: right; /* margin-top: -7px; *margin-right: -30px;*/ color: #999; font-weight: normal; font-size: 11px; }
.submitter { color: #737373; /*margin-top: 10px;*/ padding-top:3px; font-size:14px; font-weight: normal; }
.submitter img {max-height: 40px;vertical-align:middle}
.submitter div {display: inline; }
#photogrid .ui-li-aside a {
  color: #eee;
}
#photogrid .ui-shadow {
  box-shadow: none;
 -moz-box-shadow: none;
 -webkit-box-shadow:none;
}
}
.demo-1 body:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.menuItems .ui-li-has-thumb {
  padding-left: 0; 
  cursor: pointer;
}

.menuItems .ui-li-static.ui-li-has-thumb {
  min-height: 26px;
}
.menuItems .ui-li-static .ui-li {
  padding: .7em 0px 0 0px;
}
/*
#headerDiv .ui-bar-a  {
  background: #555;
  border-top: 1px solid #777;
}
*/
.ui-bar-a #headerButtons  {
  background: #777;
}
#headerDiv .ui-bar-c {
  background: #ddd;
  border-top: 1px solid #777;
}
#headerDiv .ui-bar-c h4 {
  color: #757575;
}

#callInProgress {
  text-align: center;
/*  color: #FFF; */
  background: lightblue;/*#0F2;*/
  margin: 0px auto;
  line-height: 40px;
  text-shadow: none;
}

.ui-bar-c #headerButtons  {
  background: #cccccc;
}
.ui-bar-e #headerButtons  {
  background: #fff9d7;
}
.ui-btn-up-e {
  background: #fff9d7;
}
#editForm img {
  height: 41px;padding-right:35px;float:right;
}
#name.resTitle {
  padding-bottom: 7px;
}
.chattee img {
  max-height: 44px;
}
#doTry .ui-btn-text {
  float: left;
}
.headerSpecialBtn {
  padding: 3px 0;
}
.headerSpecialBtn a {
  margin: 0;
}
.gradientEllipsis {
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
}
.gradientEllipsis .dimmer {
/*  display: block; */
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
/*  background-image: linear-gradient(left center, rgba(0, 0, 0, 0), #ff0000); */
  background-image: -moz-linear-gradient(left center, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.9));
  background-image: -webkit-gradient(linear, 0% 70%, 70% 100%, from(rgba(51, 51, 51, 0)), to(rgba(51, 51, 51, 0.9)));
  content: "";
  
}



.faBg {
  position: relative;
}

.faBg:after {
  position: absolute;
  top: 0;;
  text-align: center;
  font-size: 100px;
  color: #ccc;
  content: attr(data-icon);
/*  content: "\25AE"; */ 
}

/*! Hint.css - v1.3.0 - 2013-08-05
* http://kushagragour.in/lab/hint/
* Copyright (c) 2013 Kushagra Gour; Licensed MIT */

/*-------------------------------------*\
  HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/labs/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 * 
 * Classes added:
 *  1) hint
 */

#resourceViewHolder .hint--top:before,#resourceViewHolder .hint--top:after {
  bottom: 100%;
  left: 5%; 
}
#resourceViewHolder .hint--bottom:before,#resourceViewHolder .hint--bottom:after {
  top: 100%;
  left: 50%; 
}

#resourceViewHolder .hint--right:before,#resourceViewHolder .hint--right:after {
  left: 20%;
  bottom: 50%; 
}



.hint, [data-hint] {
  position: relative;
/*  display: inline-block; */
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  .hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  .hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0px black;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 * 
 * Classes added:
 *  1) hint--top
 *  2) hint--bottom
 *  3) hint--left
 *  4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
  border-top-color: #383838; }

.hint--bottom:before {
  border-bottom-color: #383838; }

.hint--left:before {
  border-left-color: #383838; }

.hint--right:before {
  border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -12px; }
.hint--top:after {
  margin-left: -18px; }
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 50%; }
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -12px; }
.hint--bottom:after {
  margin-left: -18px; }
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%; }
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px; }
.hint--right:after {
  margin-bottom: -14px; }
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px; }
.hint--left:after {
  margin-bottom: -14px; }
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 * 
 * Classes added:
 *  1) hint--error
 *  2) hint--warning
 *  3) hint--info
 *  4) hint--success
 *  
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #592726; }
.hint--error.hint--top:before {
  border-top-color: #b34e4d; }
.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }
.hint--error.hint--left:before {
  border-left-color: #b34e4d; }
.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6c5328; }
.hint--warning.hint--top:before {
  border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
  border-left-color: #c09854; }
.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #193b4d; }
.hint--info.hint--top:before {
  border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
  border-left-color: #3986ac; }
.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a321a; }
.hint--success.hint--top:before {
  border-top-color: #458746; }
.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }
.hint--success.hint--left:before {
  border-left-color: #458746; }
.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 * 
 * Classes added:
 *  1) hint--always
 *  
 */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 * 
 * Classes added:
 *  1) hint--rounded
 *  
 */
.hint--rounded:after {
  border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 * 
 * Classes added:
 *  1) hint--bounce
 *  
 */
.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }
