H1 {font-family: arial, Verdana, geneva; font-size: 17px; font-weight: bold;  color: #00309C}
H2 {font-family: arial, Verdana, geneva; font-weight: normal; font-size: medium; color: #6699CC}
H3 {font-family: arial, Verdana, geneva; font-size: 15px; font-weight: normal; color: #3366aa}

img.fade {
   filter:alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity:   0.6;
   opacity:       0.6;
}

.tabs {
  height: 33px;
  white-space: nowrap;
  //background-image:url(../images/skins/orange/tabs-line.gif);
  //background-repeat: no-repeat;
}

.tabs .oneTab {
  height: 33px;
}

.tabs a:link, .tabs a:visited {
//		font-size: 12px;
		//line-height: 11px;
    //font-weight: bold;
		text-decoration: none;
		//font-family: ariel-narrow, tahoma, sans-serif;
		//white-space: nowrap;
}
.tabs .left {
  background-image:url(../images/skin/orange/tab-left.gif);
  background-repeat: no-repeat;
  width:12px;
}
.tabs .middle {
  background-image:url(../images/skin/orange/tab-middle.gif);
  background-repeat: no-repeat;
  text-align: center;
}
.tabs .right {
  background-image:url(../images/skin/orange/tab-right.gif);
  background-repeat: no-repeat;
  width:12px;
}
