H1 {font-family: arial, Verdana, geneva; font-size: 17px; font-weight: bold;  color: #00309C}
H2 {font-family: arial, Verdana, geneva; font-weight: normal; font-size: medium; color: #6699CC}
H3 {font-family: arial, Verdana, geneva; font-size: 15px; font-weight: normal; color: #3366aa}

img.fade {
   filter:alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity:   0.6;
   opacity:       0.6;
}
.tabs .oneTab {
  height: 33px;
}

.tabs a:link, .tabs a:visited {
  font-size: 8pt;
  font-weight: normal;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tabs .left, .rigth {
  width:12px;
}

.tabs TD.left {
  background-image:url(../images/skin/blue/tab-left.gif);
  background-repeat: no-repeat;
}
.tabs TD.middle {
  background-image:url(../images/skin/blue/tab-middle.gif);
  background-repeat: no-repeat;
  text-align: center;
  white-space: nowrap;
}
.tabs TD.right {
  background-image:url(../images/skin/blue/tab-right.gif);
  background-repeat: no-repeat;
}

/* ----- Buttons ----- */
.button_blue, .button_green, .button_white {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.but_left, .but_right {
	width:12px;
	height:33px;
}

.but_center {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:0px 2px 0px 2px;
}
.but_center A {
	text-decoration: none
}

.button_blue TD.but_left {
	background-image:url(../images/skin/blue/button-left.gif);  background-repeat: no-repeat;
}

.button_blue TD.but_right {
	background-image:url(../images/skin/blue/button-right.gif); background-repeat: no-repeat;
}
.button_blue TD.but_center {
	background-image:url(../images/skin/blue/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
  text-vertical-align: center;
}
.button_blue A, .button_blue A:hover {
	color:#FFF;
}

.button_white TD.but_left {
	background-image:url(../images/skin/grey/button-left.gif);  background-repeat: no-repeat;
}
.button_white TD.but_right {
	background-image:url(../images/skin/grey/button-right.gif); background-repeat: no-repeat;
}
.button_white TD.but_center {
	background-image:url(../images/skin/grey/button-middle.gif); background-repeat: repeat-x;
	color:#000;
}
.button_white A, .button_white A:hover {
	color:#000;
}

/* ----- End of Buttons ----- */
