H1 {font-family: arial, Verdana, geneva; font-size: 17px; font-weight: bold;  color: #00309C}
H2 {font-family: arial, Verdana, geneva; font-weight: normal; font-size: medium; color: #6699CC}
H3 {font-family: arial, Verdana, geneva; font-size: 15px; font-weight: normal; color: #3366aa}

img.fade {
   filter:alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity:   0.6;
   opacity:       0.6;
}
.tabs .oneTab {
  height: 33px;
}

.tabs a:link, .tabs a:visited {
  font-size: 8pt;
  font-weight: normal;
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tabs .left, .right {
  width:12px;
}

/*
.tabs TD.left {
  background-image:url(../images/skin/blue/tab-left.gif);
  background-repeat: no-repeat;
  background-position: middle;
  vertical-align: middle;
}
.tabs TD.middle {
  background-image:url(../images/skin/blue/tab-middle.gif);
  background-repeat: no-repeat;
  background-position: middle;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.tabs TD.right {
  background-image:url(../images/skin/blue/tab-right.gif);
  background-repeat: no-repeat;
  background-position: middle;
  vertical-align: middle;
}
*/
/* ----- Buttons ----- */
.button_blue, .button_green, .button_grey, button.orange {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.but_left, .but_right {
	width:14px;
	height:23px;
}

.but_center {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:0px 2px 0px 2px;
}
.but_center A {
	text-decoration: none
}

.button_blue TD.but_left {
	background-image:url(../images/skin/blue/button-left.gif);  background-repeat: no-repeat;
}
.button_blue TD.but_right {
	background-image:url(../images/skin/blue/button-right.gif); background-repeat: no-repeat;
}
.button_blue TD.but_center {
	background-image:url(../images/skin/blue/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_blue A, .button_blue A:hover {
	color:#FFF;
}

.button_grey TD.but_left {
	background-image:url(../images/skin/grey/button-left.gif);  background-repeat: no-repeat;
}
.button_grey TD.but_right {
	background-image:url(../images/skin/grey/button-right.gif); background-repeat: no-repeat;
}
.button_grey TD.but_center {
	background-image:url(../images/skin/grey/button-middle.gif); background-repeat: repeat-x;
	color:#000;
}
.button_grey A, .button_grey A:hover {
	color:#000;
}

.button_orange TD.but_left {
	background-image:url(../images/skin/orange/button-left.gif);  background-repeat: no-repeat;
}
.button_orange TD.but_right {
	background-image:url(../images/skin/orange/button-right.gif); background-repeat: no-repeat;
}
.button_orange TD.but_center {
	background-image:url(../images/skin/orange/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_orange A, .button_orange A:hover {
	color:#FFF;
}

.button_green TD.but_left {
	background-image:url(../images/skin/green/button-left.gif);  background-repeat: no-repeat;
}
.button_green TD.but_right {
	background-image:url(../images/skin/green/button-right.gif); background-repeat: no-repeat;
}
.button_green TD.but_center {
	background-image:url(../images/skin/green/button-middle.gif); background-repeat: repeat-x;
	color:#FFF;
}
.button_green A, .button_green A:hover {
	color:#FFF;
}
.pieTitle {font-family:sans-serif, arial; font-weight:bold; font-size:16px; color:#00309C;} 
/* ----- End of Buttons ----- */
