body { -webkit-text-size-adjust: none; }
/* overriding jqm rules */
/*
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
   display: block;
   visibility: hidden;
}
.ui-mobile .ui-page-active {
   visibility: visible;
}

.ui-page-pre-in {
  opacity: 0;
}
*/
/* end overriding jqm rules */

html { height: 100%; }
/* Gallery */
.galleryItem, .galleryItem_css3 {
  border-width: 0px;
  padding: 0px;
  border-spacing: 0px;
  margin: 10px 10px 6px 10px;
}
.galleryItem_css3 img { float: left;}
.galleryItem_container .galleryItem, .galleryItem_container .galleryItem_css3 { margin: 0px; }
.nab .anab  { box-shadow: none;}
.nab .anab span { padding-right: 12px; }
.nab .nabP { background: #f2f2f2; }
.nab .nabP td { padding: 5px 2px 5px 10px; vertical-align: top;}
.nabT { padding: 0px 7px 7px 10px; }
.nab .nabP img  { width: 24px; padding-right: 5px; border: 0; }
.nab .nabP #-inner img  { padding-right: 0px; }

.anab .nabRL #-inner img  { width: 16px;  padding-right: 2px; border: 0; /*vertical-align: top;height: 16px; */}

.nab .modP img { padding-right: 5px; }
.galleryItem, .galleryItem_css3, .galleryItem_Nab { position: relative; }
.galleryItem_css3, galleryItem_nab { display: inline-block; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.likes_tbl {  position: absolute; opacity: 0; visibility: hidden; z-index: 1; top: 0px; left: 0px; border-collapse: collapse; }
.likes_tbl td { background-color: rgba(0, 0, 0, 0.4); #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000)";
  padding: 0px 5px 5px 5px; width: auto; }
.likes_tbl .fbLikeWidget { margin: 0 5; }

.galleryItem td#whiteRight {
  background-image:url(../images/frame/white_bg/right.jpg);
  vertical-align: top; background-position: top; background-repeat: repeat-y;
}

.galleryItem td#grayBottom {
  background-image:url(../images/frame/gray_bg/bottom.jpg);
  vertical-align: top; background-position: top; text-align: left; background-repeat: repeat-x;
}

.galleryItem td#whiteBottom {
  background-image:url(../images/frame/white_bg/bottom.jpg);
  vertical-align: top; background-position: top; text-align: left; background-repeat: repeat-x;
}

.galleryItem #whiteBottom td {
  height: 11px;
}

.galleryItem img#rightTop {
  height: 17px; width: 11px; border: 0px; vertical-align: top;
}

.galleryItem img#leftBottom {
  height: 11px; width: 14px; border: 0px; vertical-align: top;
}

.galleryItem img#rightBottom {
  height: 11px; width: 11px; border: 0px; vertical-align: top;
}

.nab .tag {
  background: none;
  padding-left: 5px;
  border-right: none;
}

.arrow_td, .arrow_td_empty { padding: 0px 2px; min-width: 14px; font-size: 18px !important; font-weight: bold; text-align:center; }
.arrow_td { cursor: pointer; }
.arrow_td { background-color: &[PrimaryColor_1];;}

.param_tr .label_td { white-space: nowrap; position: relative; } 
.param_tr .field_comment, #mkresource .field_comment { height: 57px !important; }
.param_tr .label { -moz-user-select: none; white-space: nowrap; font-size: 16px; font-weight: bold; overflow: visible; color: &[PrimaryColor_4_text];;}
.param_tr .label img { margin-right: 3px; }
.param_tr .comment { color: &[SecondaryColorB_3];; font-size: 11px; }
.param_tr .comment a { font-size: 11px; }
* html .label_td .comment { left: 0; }
* html .dat_td .comment { left: 5px; } /* hack for multivalue */
.field_comment .comment { margin-top: 5px; }


.nab { float: left; width: 192px; margin: 5px; padding: 15px 15px 0; font-size: 11px; background-color: #fff; border: 1px solid #DDDDDD; box-shadow: 0 0px 1px #AAAAAA;}
/*#nabs_grid .nab { visibility: hidden; }*/
.dList #nabs_grid .nab { visibility: visible; } /* TODO: implement 2 (RL) masonry and delete this rule */

/* hide "bricks" initially and show them only ones are aligned */ 
.masonry > li, .masonry > div { visibility: hidden; }
.masonry .masonry-brick { visibility: visible; }

.nab .modP .urbien { padding-left: 10px; }
.nab .modP .urbien img {
    width: 50px;
    position: absolute;
    clip: rect(0px, 50px, 70px, 0px);
}
.nab .nabP .urbien { padding-left: 10px; }
.nab .nabP .urbien img {width: 50px;}



.gnab { font-size: 11px; }
.nab .anab .galleryItem_css3 img {max-width: 205px;}
.nab .anab .galleryItem_css3 { display: inline-block; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

.renab img { width:16px;height:14px; margin-top: -4px;}
.renab img {max-width: 14px; padding-right: 3px; }

.nab td, #siteResourceList #front .nab .label {font-size: 11px;}
.nab a {text-decoration: none;}

.nab .action {color: #98c165; font-weight:bold; font-size: 8pt;}

.dList {padding-top:10px; background: #f7f5f7;}
.pList {padding-top:15px;padding-left:15px; background: #f7f5f7;}
.aList { padding:15px 0px 0px 0px; background: #f7f5f7;}
.renab, .nab .pLink {color: #757575;}
/* BOARD CELL

#renabs span.action   {font-weight:bold;font-size:8pt;color:#000066;}

--------------------------------------------------------------------------------------- */
.nabBoard {width: 222px !important; padding: 0 !important; cursor: pointer;}

.nabBoard h3, .gridBoard h3 { height: 20px; padding: 11px 15px 5px; font-size: 13px; font-weight: 300; overflow: hidden;margin: 0}

.gridBoard {max-width: 669px !important; padding: 0 !important;cursor: pointer;}
.nabBoard .link { height: 200px; display: block; padding: 0 0 10px 12px; overflow: hidden;}
.gridBoard .link {display: block; padding: 9px 0 4px 12px; overflow: hidden;}
.nabBoard .link img, .gridBoard .link img  {float: left; width: 100px; /* magnify: 100 / 61 */ margin-left: -20px; /* set at horizontal center */ }
.boardsTitle, .nabTitle {margin-left: 10px; padding-top: 5px; font-size: 16pt; color: #cb2027; }
.boardsTitle a { color: #f47414; }

#comments a, #renabs a {color: #f47414; }
.nabBoard .link div, .gridBoard .link div { width: 61px; height: 61px; border: 1px solid #f0f0f0; overflow: hidden; float: left; margin: 0px 4px 4px 0px;}

.nabBoard .editBoard {padding: 0 15px 11px; text-align: center;}
.nabBoard .editBoard .Buttn {display: block; padding: 0.5em 0.825em;}

.editBoard a {font-size: 13px;} 
.WhiteButton {color: #524d4d; text-shadow: 0 1px rgba(255,255,255,0.9);}

.anab .nabRL  { display: inline; }
.anab .nabRL div { padding: 0px 10px 10px 10px;}

.anab .nabRL .btn span {padding-right: 0; }

.modP tr {vertical-align: top;}
.lc1 a {
  padding: 5px;
  background-color: #ffba24;
  background-image: -moz-linear-gradient(top center, #fff167, #ffba24);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff167), to(#ffba24));
  background-image: -o-linear-gradient(#fff167, #ffba24);
  #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff167,endColorstr=#ffba24);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff167,endColorstr=#ffba24)";

  border: 1px solid #ffba24;
  
}
.lc1 img {
  max-width: 32px;
}
.btn { text-align: center; padding-bottom: 3px; height: 32px; }
.commentListDate {
  color: #999999;
  font-size: 11px;
}
#comments {padding-top: 12px; padding-bottom: 12px;}
.commentList {
  background-color: &[PrimaryColor_4];; 
  border-bottom-color: #757575; 
  border-bottom-style: solid; 
  border-bottom-width: 1px; 
  padding-top: 12px; 
  padding-bottom: 12px;
  font-size: 12px;
  text-align: left;
}
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.cp a {text-decoration: none; font-size: 14px; }
.commentList .cl { padding-left: 5px; }
.commentList a { color: #f47414; font-size: 11px; text-decoration: none; font-weight: bold; }
.commentListDate {
  color: #999999;
  font-size: 11px;
}
.commentList img {
  max-height: 60px;
  max-width: 50px;
}
/*
@media screen and (orientation: portrait) {
  .nab {
    background-color: #0f0;
  }
}
*/

/* big symbols in the top navbar */
#headerUl .ui-icon {
    background: none;
    box-shadow: none;
    color: #444444;
    font-size: 32px;
    margin-left: -14px;
}

/* navbar no text - icons only */ 
#headerUl .ui-btn-inner { font-size: 0px; }
#headerUl .ui-btn { padding: 3px 0px; }


#columns {
    -moz-column-count: auto;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -moz-column-width: 230px;
    -webkit-column-count: auto;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -webkit-column-width: 230px;
    column-count: auto; 
    column-gap: 10px;
    column-fill: auto;
    column-width: 230px;
    list-style-type: none;
    margin-left: -40px;
}

.pin { 
  -moz-break-before: column;
/*  -webkit-column-break-before: always;*/
   break-before: column;
   font-size: 11px; 
   margin: 5px 2px 5px;
   padding: 5px;
   vertical-align: top;
   min-width: 230px; 
 }

.pin1 p {
   display: inline-block;
  -moz-break-before: column;
/*  -webkit-column-break-before: always; */
   break-before: column;
}
.pin1 {
   display: inline-block;
   
   border: 1px solid #ddd;
   box-shadow: 0 0px 1px #aaa;
   background: #FEFEFE;
   background-image: linear-gradient(45deg, #FFF, #F9F9F9);
   width: 100%;
  -moz-break-before: column;
/*  -webkit-column-break-before: always; */
   break-before: column;
}         

#columns .galleryItem_css3 img {max-width: 205px;}

@media all and (min-width: 960px) {
    #columns {
      column-count: auto;
    }
}
@media (max-width: 320px) {
  .nab { margin: auto; margin-top: 5px; margin-bottom: 5px; padding: 15px 15px 0; float: none; font-size: 11px; background-color: #fff; border: 1px solid #DDDDDD; box-shadow: 0 0px 1px #AAAAAA;}
  .nab .anab .galleryItem_css3 img {max-width: 265px;}
  .nabBoard {width: 282px !important; padding: 0 !important; cursor: pointer;}
  .nabBoard .link { height: 260px; display: block; overflow: hidden;}
  #columns {column-count: 1;}
}

#columns .pin .nabRL #-inner img  { width: 16px;  padding-right: 2px; border: 0; /*vertical-align: top;height: 16px; */}
#columns .pin .nabRL  { display: inline; }
#columns .pin .nabRL div { padding: 0px 10px 10px 10px;}

#columns .pin .nabRL .btn span {padding-right: 0; }

#columns .pin .galleryItem_css3 img {max-width: 205px;}
#columns .pin .galleryItem_css3 { display: inline-block; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
#columns .pin  a {text-decoration: none; color: #757575; }
#columns  { box-shadow: none;}
#columns .pin span { padding-right: 12px; }
#resourceView { font-size: 16px; }
/* login popup icon for Live social net (lack in awesome font currently) */
.ui-icon-live-sign:before { content: url(../images/frame/white_bg/live-sign.png); border-radius: 4px; background-color: #aaa; padding: 2px; margin-left: 1px; }
.ui-icon-live-sign { margin-top: 0px !important; line-height: 10px !important; }
#login_popup .big_symbol { float: left; font-size: 25px; color: #aaaaaa; line-height: 100%; margin: 0px 0px 0px -8px; }

/* default images 'fitting' in RL in case when image dimensions are uknown. Use "max-height: none" only with processed images */
.image_fitted .ui-li-thumb { max-width: none; max-height: none; min-width: 80px; min-height: 80px; clip: rect(0px, 80px, 80px, 0px); }

/* JQM toggle switch alignment in a listview */
.ui-field-contain div.ui-slider-switch { right: 15px; }