/*
#homePage.demo:after {
  content: "";  
  z-index: -1;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #000;
  background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0.5), rgba(0,0,0,0.95));
  background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0.3), rgba(0,0,0,0.95));
  background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0.3), rgba(0,0,0,0.95));
  background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0.3), rgba(0,0,0,0.95));
  background: radial-gradient(center center, circle cover, rgba(0,0,0,0.3), rgba(0,0,0,0.95));
}
*/
#homePage.ui-body-c {background: none;background-image: none;text-shadow: 0 1px 0 #000; }
#homePage span {color: #ddd; }
.p div {color: #ddd; }
table.c1 td.b1, table.c1 td.b2 { padding: 0px; width: 64px;}
table.c1 { margin-top: 20px;}
table.c1 td.b1, .section table.c1 td.b2 { padding: 0px 15px 0px 15px; }
a h4, h4 {font-size: 22px; line-height: 24px; font-weight:bold;margin-bottom: 3px;margin-top:13px;color: #fff}
a {color: #757575; text-decoration: none;}
h2 {font-size: 28px; line-height: 34px; margin-top: 3px; font-weight:normal;}

.p { padding: 0; margin: 0; }

@media (max-width: 320px) {
  #homePage { max-width: 320px;}
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
 #homePage {max-width: 480px;}
}

.name { z-index: 11; top: 0px; left: 0px;  width: 100%; height: 40px;
  background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.95));
  background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.95));
  background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.95));
  background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.95));
  background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.95));
  color: #eee; padding-top:5px; padding-bottom: 10px;
}
body { 
  margin: 0; font-size:12px; /*background-color: #fff;*/ font-family: Helvetica, Arial, sans-serif; color: #757575; 
}
    
.demo-1 body:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.5));
}
    
#spinner_container {
  position:absolute;
  width:100%;
  bottom: 50%;
  left:45%;
  height:1px;
  overflow:visible;
  opacity: 1;
  background: transparent;
}
.icon-spin {
   display: inline-block;
   -moz-animation: spin 2s infinite
        linear;
   -o-animation: spin 2s infinite
        linear;
   -webkit-animation: spin 2s infinite
        linear;
   animation: spin 2s infinite
        linear;
}
@-moz-keyframes spin {
   0% { -moz-transform: rotate(0deg); }
   100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
   0% { -o-transform: rotate(0deg); }
   100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
   0% { -ms-transform: rotate(0deg); }
   100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
   .icon-spin {
      height: .9em;
   }
   .btn .icon-spin {
      height: auto;
   }
   .icon-spin.icon-large {
      height: 1.25em;
   }
   .btn .icon-spin.icon-large {
      height: .75em;
   }
}

///////////// ROUND BUTTONS
.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.nav li:before {
  content: "";
  display: block;
/*  border-top: 1px solid #ddd; */
/*  border-bottom: 1px solid #fff; */
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}