body {
	margin: 0;
	font-family: Helvetica;
	overflow: hidden;
	font-size: 0.5em;
	-webkit-text-size-adjust: none;
}
/*
body {
  -webkit-text-size-adjust:80%;
  -webkit-column-width: 7em;
  -webkit-column-gap: 1em;
}

.menu {
  background: #000000;
  color: lightGrey;
}

img {
  width: 75px;
  height: 75px;
}

a:hover img {
  width: 140px;
  height: 140px;
}
*/

.mobile_page { position: absolute; width: 100%; }

td {font-family:Helvetica; font-size:12pt;}
table {font-family:Helvetica; font-size:12pt;}
tt {font-family:Helvetica; font-size:12pt;}
span {font-family:Helvetica; font-size:12pt;}
a {font-family:Helvetica; font-size:12pt;}
span.propLabel {
  font-family: Helvetica; color: #10106D; font-size: 12pt; font-weight: bold;
  white-space: nowrap;
}
.propLabelI {
  font-family: Helvetica; color: #10106D; font-size: 12pt; font-weight: normal;
  white-space: nowrap;
}
tr.rlHeader {
  border:solid #808080 1px;
  background:url(../images/bg-green-to-white-gradient.gif);
  background-repeat:repeat-x;
  color:#000000;
  font-size: 12pt;
  font-family: Helvetiva;
}
div {font-family:Helvetica; font-size:10pt;}
.text {font-size:0.7em; font-family:Helvetica;font-weight:bold;}

/* commented out because Touch UI
.input {
  background: rgb(231, 235, 240);
  border-bottom: 1px solid #C0C9D7;
  border-left: 1px solid #C0C9D7;
  border-right: 1px solid #AFC4D5;
  border-top:1px solid #AFC4D5;
  color:#000066;
  height:28pt;
  font-family: Helvetica;
  font-size: 1.2em;
  text-decoration:none;
  vertical-align:middle;
}
*/
.isel {
  background-color:fffdc3;
  border-bottom: 1px solid #C0C9D7;
  border-left: 1px solid #C0C9D7;
  border-right: 1px solid #AFC4D5;
  border-top:1px solid #AFC4D5;
  color:#000066;
  height:28pt;
  font-family: Helvetica;
  font-size: 1.2em;
  text-decoration:none;
  vertical-align:middle;
}

.propLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: bold;
}
.propLabelI {
  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;
}

.popMenu td {
  FONT-WEIGHT: normal; FONT-SIZE: 18pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif, "MS Sans Serif"; TEXT-DECORATION: none; white-space: nowrap;
}
.front {
}

.flip {
	width:16px;
	height:16px;
	cursor: pointer;
}
/* iphonenav.css */
.topBar
{
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 1 3 1 3;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(../images/iPhoneToolbar.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

.topBar_big
{
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(../images/iPhoneToolbar_big.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

.topBar_history { background-color: rgb(90, 90, 90); }
.topBar_history .button, .topBar_history .button_left { display: none; }
.topBar .title { display: none; float: left; color: #ffffff; font-size: 20px; }
.topBar_history .title { color: #ffffff; font-size: 20px; padding: 5px; }

.topBar .button, .topBar .button_left, .topBar .button_right {
    -webkit-border-image: url(../images/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

.topBar .button, .topBar .button_left { float: left; }
.topBar .button_right { float: right; }


.chat {
  padding: 0px 5px 0px 5px;
}
.red {
    font-size: 16px;
    font-weight: bold;
    color: red;

}

.topBar_big .button, .topBar_big .button_left {
    font-size: 27px;
    padding: 6px;
    margin: 4px;
    line-height: 60px;
    -webkit-border-radius: 10;
    border-width: 2px 7px 2px 7px;
}


tr { /*height: 35px;*/ }
tr.dark  {background-color:#eeeeee; /*height: 35px;*/ }


.ul {
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}


.li {
    margin: 0;
    padding: 3;
    font-size: 14px;
    font-family: Helvetica;
    list-style: none;
    color: #000000;
    text-align: center;
}
.lii {
    font-size: 10px;
    color: #000000;
}

#menu_Options { position: fixed; /*top: 20px;*/ left: 1px; }

#options_container { position: relative; width: 320px;}
#options_container  #top { margin: 0px; background: url(../images/skin/iphone/options_back.png) top center; padding-top: 35px; }
#options_container  #content { margin: 0px; background: url(../images/skin/iphone/options_back_middle.png) top center }
#options_container  #bottom { margin: 0px; background: url(../images/skin/iphone/options_back.png) bottom center; padding-top: 20px; }
#options_container  #content a {
    margin: 0;
    padding: 3;
    font-size: 14px;
    font-family: Helvetica;
    list-style: none;
    color: #ffffff;
    text-align: center;
}

#options_container #content img { width:32px; height:32px; border:0px; vertical-align:middle }
#options_container #content #menu_Views img { width:48px; height:48px; border:0px; vertical-align:middle }

#options_container .rlHeader { background: none; }
#options_container #content .li { color: #fff; }

.touch_screen { position: absolute; left: 0px; top: 0px; }
.touch_screen img { width: 1000px; height: 1000px; border: 0px; }


#bottom_toolbar { position: absolute; z-index: 10; padding-right: 3 0 3 0; text-align: center;  /*bottom: 0px;*/ width: 100%; background: url(../images/skin/iphone/bottom_toolbar_bg.png) repeat; /*opacity: 0.2;*/ }

.panel_block, .panel_block > table, .panel_block .frame { height: 100%; }