body {
	margin: 0;
	font-family: Helvetica;
	background: #FFFFFF;
	color: #000000;
	overflow: hidden;
	font-size: 0.5em;
	-webkit-text-size-adjust: none;
}
/*
body {
  -webkit-text-size-adjust:80%;
  -webkit-column-width: 7em;
  -webkit-column-gap: 1em;
}



img {
  width: 75px;
  height: 75px;
}

a:hover img {
  width: 140px;
  height: 140px;
}
*/

td {font-family:Helvetica; font-size:12pt;}
table {font-family:Helvetica; font-size:12pt;}
tt {font-family:Helvetica; font-size:12pt;}
span {font-family:Helvetica; font-size:12pt;}
a {font-family:Helvetica; font-size:12pt;}
span.propLabel {
  font-family: Helvetica; color: #10106D; font-size: 12pt; font-weight: bold;
  white-space: nowrap;
}
.propLabelI {
  font-family: Helvetica; color: #10106D; font-size: 12pt; font-weight: normal;
  white-space: nowrap;
}
tr.rlHeader {
  border:solid #808080 1px;
  background:url(../images/bg-green-to-white-gradient.gif);
  background-repeat:repeat-x;
  color:#000000;
  font-size: 12pt;
  font-family: Helvetiva;
}
div {font-family:Helvetica; font-size:10pt;}
.text {font-size:0.7em; font-family:Helvetica;font-weight:bold;}

.input {
  background: rgb(231, 235, 240);
  border-bottom: 1px solid #C0C9D7;
  border-left: 1px solid #C0C9D7;
  border-right: 1px solid #AFC4D5;
  border-top:1px solid #AFC4D5;
  color:#000066;
  height:28pt;
  font-family: Helvetica;
  font-size: 1.2em;
  text-decoration:none;
  vertical-align:middle;
}
.isel {
  background-color:fffdc3;
  border-bottom: 1px solid #C0C9D7;
  border-left: 1px solid #C0C9D7;
  border-right: 1px solid #AFC4D5;
  border-top:1px solid #AFC4D5;
  color:#000066;
  height:28pt;
  font-family: Helvetica;
  font-size: 1.2em;
  text-decoration:none;
  vertical-align:middle;
}

.propLabel {
  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: bold;
}
.propLabelI {
  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;
}

.popMenu td {
  FONT-WEIGHT: normal; FONT-SIZE: 18pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif, "MS Sans Serif"; TEXT-DECORATION: none; white-space: nowrap;
}
.front {
}

.flip {
	width:16px;
	height:16px;
	cursor: pointer;
}
/* iphonenav.css */
.topBar
{
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(../images/iPhoneToolbar.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

.button {
    float: right;
    -webkit-border-image: url(../images/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}
.button_middle {
    float: center;
    -webkit-border-image: url(../images/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}
.chat {
  padding: 0px 5px 0px 5px;
}
.button_left {
    float: left;
    -webkit-border-image: url(../images/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 3px;
    margin: 3px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}
tr {height: 35px;}
tr.dark  {background-color:#eeeeee; height: 35px;}


.ul {
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

.li {
    margin: 0;
    padding: 3;
    font-size: 14px;
    font-family: Helvetica;
    list-style: none;
    color: #000000
}
