TD.toolbar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #EEEEEE;
  color: Black;
  font-weight: bold;
  font-variant: normal;
  background-image: url('images/toolbar_bg.gif');
}

.popMenu {
	DISPLAY: none; POSITION: absolute; z-index:50;
}

.popMenu td {
  FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif, "MS Sans Serif"; TEXT-DECORATION: none; white-space: nowrap; cursor: pointer; cursor: hand;
}

.popupFrameBody {
}

.popMenuTitle {
	cursor: text; POSITION: relative; BACKGROUND-COLOR: #3366cc
}

.menuTitle {
	cursor: auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; BACKGROUND-COLOR: #3366cc;
}

.menuTitle td {
	cursor: auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-WEIGHT: bold; COLOR: #FFFFFF; BACKGROUND-COLOR: #3366cc;
}

.menuItemIcon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-COLOR: #EDECF8; white-space: nowrap; width: 20px
}

.menuItemIcon img {
  width: 16px; height: 16px; border: 0px; text-align:center; margin-top:0px; margin-bottom:0px; padding:0px;
}

.menuItemChk {
	width: 10px
}

.menuItemNoChk {
	PADDING-LEFT: 8px; width: 10px
}

.menuItem {
  PADDING-LEFT: 2px;
}

.menuItemChart {
  PADDING-RIGHT: 0px;	width: 10px;
}

.menuItemReset {
}

.menuItemNoChoices {
  cursor: default;
}

.menuItem a:hover, .menuItem a:link, .menuItem a:active, .menuItem a:visited {
  color: black; TEXT-DECORATION: none;
}

/* wanted to use CSS2's COLOR: GrayText, but IE6 does not support it */
.menuItemGreyedOut {
}

.menuItemSubtitle {
	COLOR: #000000;
}

.closePopup {
  background-color: #0055e6; padding-right:3; padding-top:3; padding-bottom:3; text-align: right;
}

.formMenuInput {
	PADDING: 0px; COLOR: #000000;
}
.langLink {
}

.langCurrent {
	COLOR: red;
}
.menuExpand {
}

.menuExpandSubtitle {
	CURSOR: default
}
.outer {border-style:solid; border-width: 1px; border-color:#666666 #666666 #666666 #666666;}
.inner {border-style:solid; border-width: 1px; border-color:#F9F8F7 #F9F8F7 #F9F8F7 #F9F8F7;}