TD.toolbar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #EEEEEE;
  color: Black;
  font-weight: bold;
  font-variant: normal;
  background-image: url('images/toolbar_bg.gif');
}
.popMenu {
	DISPLAY: none; POSITION: absolute; z-index:50; -moz-user-input: enabled; -moz-user-focus: normal
}
.popupFrameBody {
       -moz-user-input: enabled; -moz-user-focus: normal
}
.popMenuTitle {
	POSITION: relative; BACKGROUND-COLOR: #3366cc
}

.menuTitle {
	PADDING-LEFT: 10px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #FFFFFF; BACKGROUND-COLOR: #0067B1; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}

.menuItemIcon {
	cursor: pointer; cursor: hand; BACKGROUND-COLOR: #EDECF8; white-space: nowrap; width: 20px
}

.menuItemChk {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; COLOR: black; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap; width: 10px
}

.menuItem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; COLOR: black; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}

.menuItemReset {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; COLOR: black; BACKGROUND-COLOR: #f8f4ef; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}

.menuItemNoChoices {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; COLOR: black; BACKGROUND-COLOR: #f8f4ef; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}

.menuItem a:hover, .menuItem a:link, .menuItem a:active, .menuItem a:visited {
  color: black; TEXT-DECORATION: none;
}

/* wanted to use CSS2's COLOR: GrayText, but IE6 does not support it */
.menuItemGreyedOut {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}
.menuItemSubtitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;
}
.formMenuInput {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none
}
.langLink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif
}
.langCurrent {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif
}
.menuExpand {
	cursor: pointer; cursor: hand;
}
.menuExpandSubtitle {
	CURSOR: default
}
