/* Volga's "Gray-Blue" color theme */

textarea  {  font-family: Verdana, Arial, Helvetica; font-size: 10px }
input   {  font-family: Verdana, Arial, Helvetica; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal;}
a:hover {  color: #000080; }
A:hover {color: #6BBDBE; text-decoration : underline;}

td {font-family:sans-serif, arial; font-size:9pt;}

/* text in link. You can see it in 'Hi "contactName"' */
A {text-decoration : none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; color: #003399}

/*Body {font-family: Verdana, geneva, arial; font-size: 8px; font-weight: normal; color: #999999;}*/
Body {font-family: Verdana, geneva, arial; font-size: 8px; font-weight: normal; }

.monospace { font-family:Courier,monospace; }

tr.rlHeader {border:solid #808080 1px; background:url(../images/bg-green-to-white-gradient.gif);background-repeat:repeat-x; color:#000000; font-weight:bold; font-size:8pt;}
/* input.chk {background-color:#cbcbcb; font-size:7pt} */

.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold;}

tr.dark  {background-color:#eeeeee}

tr.total  {background-color:#ffffe0; font-weight:bold}

tr.subtotal  {background-color:#cdcde4; font-weight:bold}
td.error     {background-color:#ffcc00; font-weight:bold}
tr.error     {background-color:#ffcc00; font-weight:bold}

tr.sep {background-color:#cbcbcb; height:9pt;}

/* Below are more advanced things that allow you to fine tune font sizes and typeface. */
/* Leave them as is for now                                                            */

th {font-family:sans-serif, arial; font-size:9pt;}
input {font-family:sans-serif, arial; font-size:9pt;}
select.xxs {font-family:sans-serif, arial; font-size:7pt;}
form {font-family:sans-serif, arial; font-size:9pt;}

input.button {font-size:8pt;}

span.xxl {font-family:verdana, sans-serif, arial; font-weight:bold; font-size:16pt;}
span.xl1 {font-family:sans-serif, arial; font-weight:bold; font-size:12pt;}
/*
td.xl {font-family:sans-serif, arial; font-weight:bold; font-size:10pt;}

span.xl  {font-family:sans-serif, arial; font-weight:bold; font-size:10pt;}
span.xxl {font-family:sans-serif, arial; font-weight:bold; font-size:16pt;}
span.xl1 {font-family:sans-serif, arial; font-weight:bold; font-size:12pt;}
span.rxl {color:red; font-family:sans-serif, arial; font-weight:bold; font-size:10pt;}
*/


.xs {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;}

span.rxs {color:red; font-family:sans-serif, arial; font-size:8pt;}

span.dark{color:#eeeeee}
span.light {color:#ffffff}

a:link { color: #0033CC; }
a:hover { text-decoration: underline; color: #3399FF; }
.button1 {background: #D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19px;text-decoration:none;cursor: pointer; cursor: hand; font-size:11px}

.select	{color:#000066;background-color:#D6E7EF;font-size:11px}
.selected	{color:#000066;background-color:fffdc3;font-size:7pt}
input.xxs {font-size: 10px; font-family:verdana,helvetica,arial,sans-serif;}
.text {font-size: 10px; font-family:verdana,helvetica,arial,sans-serif;}
.input1 {background: #e7ebf0;border-bottom: 1px solid #C0C9D7;border-left: 1px solid #C0C9D7;border-right: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:16px;text-decoration:none;}
/* used in filter input text fields */
.input {background: rgb(231, 235, 240); border-bottom: 1px solid #C0C9D7; border-left: 1px solid #C0C9D7; border-right: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; color:#000066; height:16px; text-decoration:none; font-family:verdana,arial,sans-serif; font-size:7pt; }
.textarea {background: rgb(231, 235, 240); border-bottom: 1px solid #C0C9D7; border-left: 1px solid #C0C9D7; border-right: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; color:#000066; text-decoration:none; font-family:verdana,arial,sans-serif; font-size:7pt; }

.errorTextStd {font-size:12px;font-weight:bold;font-family:Arial, Helvetica, Sans Serif;color:#A01E00}

.dashedBlock {border-style:dashed; border-width: 2px; border-color:#ADADD5 #ADADD5 #ADADD5 #ADADD5}

td.tab  {border:solid #808080 1px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, EndColorStr='#F0F2F6', StartColorStr='#C0C9D7'); color:#000000}
td.containers  {background-color: #e7ebf0; color: #000000}

tr.keywordsearch  {background-color: #e7ebf0; color: #000000}
td.keywordsearch  {background: #F0F2F6;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19px;text-decoration:none}

.checkbox { padding: 0px; margin: 0px; }

td.commenteven {background-color: #f8f4ef; color: darkblue}
td.commentodd  {background-color: #e7ebf0; color: #000000}

tr.commenteven {background-color: #f8f4ef; color: darkblue}
tr.commentodd  {background-color: #e7ebf0; color: #000000}

table.commentodd {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
table.commenteven {border:solid #808080 1px; background-color: #f8f4ef; color: darkblue}

Table.comments {border:solid #808080 1px; background-color: #f8f4ef; color: #000000}
Table.comments1 {background-color: #f8f4ef; color: #000000}

td.containers {background-color: #f8f4ef; color: #000000}


table.rightPanel {border:solid #808080 1px; background-color: #eeeeee; color: #000000}

td.propertySheet {border:solid #808080 1px; border-collapse: collapse; background-color: #ffffff; color: #000000}
td.controlPanel {border:solid #808080 1px; background-color: #f8f4ef; color: #000000}
td.folders      {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
span.xxl {font-family:verdana, sans-serif, arial; font-weight:bold; font-size:20pt;}

/* Properties for backlink resource list that is dipslayed inline on property sheet page */
table.displayInline {border:solid #808080 1px; background-color: #ffffff; color: #000000}
tr.displayInline {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
td.hi {background-color: #f8f4ef; color: darkblue}
font.warn {color:#A01E00}
td.shading {border:solid #808080 1px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, EndColorStr='#F0F2F6', StartColorStr='#C0C9D7'); color='#000000'}
span.comment { font-family: Verdana, Arial, Helvetica, sans-serif; color: #5766a5; font-weight:bold; font-size: 8pt}
tr.editMode  {background-color:#D6E7EF;}
span.bigLetterTitle  {font-family:sans-serif, arial; font-weight:bold; font-size:16pt; color:#00309C;}
span.bigLetterTitleGrayed {font-family:sans-serif, arial; font-weight:bold; font-size:16pt; color:#FFFFFF;}

/* To display big letter title when full text search criteria was there */
span.bigLetterTitle1 {font-family:sans-serif, arial; font-weight:bold; font-size:12pt; color:#00309C;}
/* To display window titles on a dashboard */
span.dashboardBlockTitle {font-family:Verdana,sans-serif,arial; font-weight:bold; font-size:12px; color:#00309C;}
/* to display large image in resource list */
/*td.largeImage {padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px; border:solid #808080 1px; background-color: #ffffff; color: #000000}*/
/*td.largeImageWithHide {padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:4px; border:solid #808080 1px; background-color: #ffffff; color: #000000}*/

/*td.horizontalFilter { filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#C0C9D7', EndColorStr='#ffffff') }*/
td.horizontalFilter {background-color:#E7EBF0}
td.horizontalFilterSubmit {background-color:#C0C9D7} /* To display submit buttons for horizontal filter */

/* To display property groups in edit mode */
.propertyGroup { font-family: sans-serif, Arial, Verdana, Geneva, Helvetica; font-size: 12px; font-weight: bold; text-transform: uppercase;}

/* Simple border */
.box {
   border-top : 1px solid #c7c9cc;
   border-right : 1px solid #3E4144;
   border-bottom : 1px solid #3E4144;
   border-left : 1px solid #c7c9cc;
}

.welcome {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;}

/* Contact name that appears at the top of the page style */
.guestUser {  font-family: Verdana, Arial, Helvetica, sans-serif; color: lightblue; font-size: 8pt; font-weight: bold;}
.user      {color:darkblue; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; font-size:8pt;}

/* Menu TABS styles */
.tabs TD.left {
  background-image:url(../images/skin/blue/tab-left.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.tabs TD.middle {
  background-image:url(../images/skin/blue/tab-middle.gif);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.tabs TD.right {
  background-image:url(../images/skin/blue/tab-right.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
/*.group {background:#f8f4ef;PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; cursor: hand; COLOR: #000000; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;}*/

/* Under menu line style (usually the same color as tabs */
.line {background:#ACD2E2}

/* Scheduling page styles */
.schedule    {border:solid #808080 1px;border-collapse: collapse; }
.busy        {border:solid #808080 1px; background-color:pink; font-weight:bold; FONT-SIZE: 11px; vertical-align:top}
.orgbusy     {border:solid #808080 1px; background-color:#E4BBF9; font-weight:bold; FONT-SIZE: 11px; vertical-align:top}
.unavailable {background-color:#ACD2E2; vertical-align:top}
.available   {background-color:#f8f4ef; FONT-SIZE: 11px;border:solid #808080 1px; border-collapse: collapse; vertical-align:top}
.notEnoughSpace {background-color:#ACE2CE; vertical-align:top}
.grayedOut   {border:solid #808080 0px;background-color:#E2E2E2;vertical-align:top}

/* Recall_orders page styles */
.allButton      {border:solid #808080 1px; background-color:#EDF5F5; color: darkblue; font-size:16pt;font-weight:bold; height:40pt; cursor: pointer; cursor: hand;}
.categoryButton {border:solid #808080 1px; background-color:#f8f4ef; color: darkblue; font-size:12pt;font-weight:bold; height:40pt; cursor: pointer; cursor: hand;}
.itemButton     {background: #F0F2F6;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:40pt;text-decoration:none; cursor: pointer; cursor: hand;}

/* Add items styles */
.backTo         {color:red}
.viewAll        {border:solid #808080 1px; background-color:#EDF5F5; color: darkblue; font-size:16pt;font-weight:bold}

.items {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}

.nowrap {white-space: nowrap;}
.scheduleSubmit {background: #D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19pt;text-decoration:none;cursor: pointer; cursor: hand; font-size:12px; font-weight:bold}
.cursor {cursor: pointer; cursor: hand;}
.dataEntry {background-color: #D6E7EF; }
