body {
	font: 80% arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color:#ffffff;
	color: #000000;
}

textarea  {  font-family: Verdana, Arial, Helvetica; font-size: 10px }
input   {  font-family: Verdana, Arial, Helvetica; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal;}
a:hover {  color: #000080; }
A:hover {color: #6BBDBE; text-decoration : underline;}

td {font-family:sans-serif, arial; font-size:9pt;}

/* text in link. You can see it in 'Hi "contactName"' */
A {text-decoration : none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; color: #003399}

/*Body {font-family: Verdana, geneva, arial; font-size: 8px; font-weight: normal; color: #999999;}*/
Body {font-family: Verdana, geneva, arial; font-size: 8px; font-weight: normal; }

.monospace { font-family:Courier,monospace; }

tr.rlHeader {border:solid #808080 1px; background:url(../images/bg-green-to-white-gradient.gif);background-repeat:repeat-x; color:#000000; font-weight:bold; font-size:8pt;}
/* input.chk {background-color:#cbcbcb; font-size:7pt} */

.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold;}

tr.dark  {background-color:#eeeeee}

tr.total  {background-color:#ffffe0; font-weight:bold}

tr.subtotal  {background-color:#cdcde4; font-weight:bold}
td.error     {background-color:#ffcc00; font-weight:bold}
tr.error     {background-color:#ffcc00; font-weight:bold}

tr.sep {background-color:#cbcbcb; height:9pt;}

/* Below are more advanced things that allow you to fine tune font sizes and typeface. */
/* Leave them as is for now                                                            */

th {font-family:sans-serif, arial; font-size:9pt;}
input {font-family:sans-serif, arial; font-size:9pt;}
select.xxs {font-family:sans-serif, arial; font-size:7pt;}
form {font-family:sans-serif, arial; font-size:9pt;}

input.button {font-size:8pt;}

span.xxl {font-family:verdana, sans-serif, arial; font-weight:bold; font-size:16pt;}
span.xl1 {font-family:sans-serif, arial; font-weight:bold; font-size:10pt;color:#000066;}
/*
td.xl {font-family:sans-serif, arial; font-weight:bold; font-size:10pt;}

span.xl  {font-family:sans-serif, arial; font-weight:bold; font-size:10pt;}
span.xxl {font-family:sans-serif, arial; font-weight:bold; font-size:16pt;}
span.xl1 {font-family:sans-serif, arial; font-weight:bold; font-size:12pt;}
*/
span.rxl {color:red; font-family:sans-serif, arial; font-weight:bold; font-size:16pt;}


.xs {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;}

span.imgTitle {color:#da26cb; font-family:sans-serif, arial; font-size:8pt; font-weight:bold}
span.duration {color:#037f83; font-family:sans-serif, arial; font-size:8pt; font-weight:bold}

.optionPropsTitle {border-bottom:solid #5C9EBF 1px; padding: 5px; background-color: #D6E7EF; background:url(../images/skin/blue/dialog.gif); font-weight:bold; font-size:15px; font-family:sans-serif, arial; color:#00309C;}
span.itemsCount {color:red; font-family:sans-serif, arial; font-size:10pt; font-weight:bold}

span.dark{color:#eeeeee}
span.light {color:#ffffff}

a:link { color: #0033CC; }
a:hover { text-decoration: underline; color: #3399FF; }
.button1 {background: #D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19px;text-decoration:none;cursor: pointer; font-size:11px}

.select	{color:#000066;background-color:#D6E7EF;font-size:11px}
.selected	{color:#000066;background-color:fffdc3;font-size:7pt}
input.xxs {font-size: 10px; font-family:verdana,helvetica,arial,sans-serif;}
.text {font-size: 10px; font-family:arial,sans-serif;font-weight:bold;}
.input1 {background: #e7ebf0;border-bottom: 1px solid #C0C9D7;border-left: 1px solid #C0C9D7;border-right: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:16px;text-decoration:none;}
.barcode {background: #e7ebf0;border-bottom: 1px solid #C0C9D7;border-left: 1px solid #C0C9D7;border-right: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:20px;text-decoration:none;}
/* used in filter input text fields */
.input {background: rgb(231, 235, 240); border-bottom: 1px solid #C0C9D7; border-left: 1px solid #C0C9D7; border-right: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; color:#000066; height:16px; text-decoration:none; font-family:verdana,arial,sans-serif; font-size:7pt; }
.textarea {background: rgb(231, 235, 240); border-bottom: 1px solid #C0C9D7; border-left: 1px solid #C0C9D7; border-right: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; color:#000066; text-decoration:none; font-family:verdana,arial,sans-serif; font-size:7pt; }

.errorTextStd {font-size:12px;font-weight:bold;font-family:Arial, Helvetica, Sans Serif;color:#A01E00}

.dashedBlock {border-style:dashed; border-width: 2px; border-color:#ADADD5 #ADADD5 #ADADD5 #ADADD5}

td.tab  {border:solid #808080 1px; color:#000000}
td.containers  {background-color: #e7ebf0; color: #000000}

tr.keywordsearch  {background-color: #e7ebf0; color: #000000}
td.keywordsearch  {background: #F0F2F6;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19px;text-decoration:none}

.checkbox { padding: 0px; margin: 0px; }
td.commenteven {background-color: #f8f4ef; color: darkblue}
td.commentodd  {background-color: #e7ebf0; color: #000000}

tr.commenteven {background-color: #f8f4ef; color: darkblue}
tr.commentodd  {background-color: #e7ebf0; color: #000000}

table.commentodd {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
table.commenteven {border:solid #808080 1px; background-color: #f8f4ef; color: darkblue}

Table.comments {border:solid #808080 1px; background-color: #f8f4ef; color: #000000}
Table.comments1 {background-color: #f8f4ef; color: #000000}

td.containers {background-color: #f8f4ef; color: #000000}


table.rightPanel {border:solid #808080 1px; background-color: #eeeeee; color: #000000}

td.propertySheet {border:solid #808080 1px; border-collapse: collapse; background-color: #ffffff; color: #000000}
td.controlPanel {border:solid #808080 1px; background-color: #f8f4ef; color: #000000}
td.folders      {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
/*span.xxl {font-family:verdana, sans-serif, arial; font-weight:bold; font-size:20pt;}*/

/* Properties for backlink resource list that is displayed inline on property sheet page */
table.displayInline {border:solid #808080 1px; background-color: #ffffff; color: #000000}
tr.displayInline {border:solid #808080 1px; background-color: #e7ebf0; color: #000000}
td.hi {background-color: #f8f4ef; color: darkblue}
font.warn {color:#A01E00}
td.shading {border:solid #808080 1px; color:#000000}
span.comment { font-family: Verdana, Arial, Helvetica, sans-serif; color: #5766a5; font-weight:bold; font-size: 8pt}
tr.editMode  {background-color:#D6E7EF;}
span.bigLetterTitle  {font-family:sans-serif, arial; font-weight:bold; font-size:16pt; color:#00309C;}
span.bigLetterTitleGrayed {font-family:sans-serif, arial; font-weight:bold; font-size:16pt; color:#FFFFFF;}

/* To display big letter title when full text search criteria was there */
.bigLetterTitle1 {font-family:sans-serif, arial; font-weight:bold; font-size:12pt; color:#00309C;}
/* To display window titles on a dashboard */
span.dashboardBlockTitle {font-family:Verdana,sans-serif,arial; font-weight:bold; font-size:12px; color:#00309C;}
span.dashboardGrayedTitle {font-family:Verdana,sans-serif,arial; font-size:12px; color:#10106D;}
/* to display large image in resource list */
/*td.largeImage {padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px; border:solid #808080 1px; background-color: #ffffff; color: #000000}*/
/*td.largeImageWithHide {padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:4px; border:solid #808080 1px; background-color: #ffffff; color: #000000}*/

td.horizontalFilter {background-color:#E7EBF0}
td.horizontalFilterSubmit {background-color:#C0C9D7} /* To display submit buttons for horizontal filter */

/* To display property groups in edit mode */
.propertyGroup { font-family: sans-serif, Arial, Verdana, Geneva, Helvetica; font-size: 12px; font-weight: bold; text-transform: uppercase;}

/* Simple border */
.box {
   border-top : 1px solid #c7c9cc;
   border-right : 1px solid #3E4144;
   border-bottom : 1px solid #3E4144;
   border-left : 1px solid #c7c9cc;
}

.welcome {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #10106D; font-size: 8pt; font-weight: normal;}

/* Contact name that appears at the top of the page style */
.guestUser {  font-family: Verdana, Arial, Helvetica, sans-serif; color: lightblue; font-size: 8pt; font-weight: bold;}
.user      {color:darkblue; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; font-size:8pt;}

/* Menu TABS styles */
.tabs TD.left {
  background-image:url(../images/skin/blue/tab-left.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.tabs TD.middle {
  background-image:url(../images/skin/blue/tab-middle.gif);
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.tabs TD.right {
  background-image:url(../images/skin/blue/tab-right.gif);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.group {background:#f8f4ef; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; cursor: pointer; COLOR: #000000; PADDING-TOP: 3px; FONT-WEIGHT:bold; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, Helvetica, Tahoma, sans-serif; TEXT-DECORATION: none; white-space: nowrap;}

/* Under menu line style (usually the same color as tabs */
.line {background:#ACD2E2}

/* Scheduling page styles */
.schedule     {
  border:solid #808080 1px;border-collapse: collapse;
  table-layout: fixed;
}
.fixed {
  table-layout: fixed;
}

.fixed th, .fixed td{
  overflow: hidden;
}

.schedule th {
  width: 3em;
  overflow: hidden;
  height: 2em;
}
.schedule td {
  width: 3em;
  overflow: hidden;
  height: 1em;
}

.schedule td div {
  white-space: nowrap;
}

/* styles for available and calendar item cells */
.schedule .a, .ci, .aea {
  background-color:#f8f4ef; border:solid #808080 1px; vertical-align:top
}
/* styles for busy cells */
.schedule .b {
  border:solid #808080 1px; background-color:pink; vertical-align:top
}
/* styles for current cells */
.schedule .cc {
  border:solid #808080 1px; background-color:rgb(117,208,241); vertical-align:top
}
/* styles for unavailable cells */
.schedule .ua {
  background-color:#ACD2E2; vertical-align:top
}
/* styles for organization busy cells (ex. corporate lunch) */
.schedule .ob {
  border:solid #808080 1px; background-color:#E4BBF9; vertical-align:top
}
.schedule .g   {
  border-top:solid #838383 1px;background-color:#E2E2E2;vertical-align:top
}
/*
.expiredAlert {background-color:#f8f4ef; FONT-SIZE: 11px;border:solid #808080 1px; border-collapse: collapse; vertical-align:top}
.changeAlert  {background-color:#f8f4ef; FONT-SIZE: 11px;border:solid #808080 1px; border-collapse: collapse; vertical-align:top}
.openPopup1   {background-color:#f8f4ef; FONT-SIZE: 11px;border:solid #808080 1px; border-collapse: collapse; vertical-align:top}
*/
.notEnoughSpace {background-color:#ACE2CE; vertical-align:top}
.grayedOut   {border:solid #808080 0px;background-color:#E2E2E2;vertical-align:top}

/* Recall_orders page styles */
.allButton      {border:solid #808080 1px; background-color:#EDF5F5; color: darkblue; font-size:16pt;font-weight:bold; cursor: pointer;}
.categoryButton {border:solid #808080 1px; background-color:#f8f4ef; color: darkblue; font-size:12pt;font-weight:bold; cursor: pointer;}
.itemButton     {background: #F0F2F6;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;text-decoration:none; cursor: pointer;}

/* Add items styles */
.backTo         {color:red}
.viewAll        {border:solid #808080 1px; background-color:#EDF5F5; color: darkblue; font-size:16pt;font-weight:bold}

.items {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
}

.nowrap {white-space: nowrap;}
.scheduleSubmit {background: #D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;color:#000066;height:19pt;text-decoration:none;cursor: pointer; font-size:12px; font-weight:bold}
.cursor {cursor: pointer;}
.dataEntryDialog {background-color: #D6E7EF; background:url(../images/skin/blue/dataEntryDialog.gif); padding: 15px;}
.resourceListDialog {background-color: #D6E7EF; background:url(../images/skin/blue/dialog.gif); padding: 15px;}
.dialogPanel {border:solid #5C9EBF 1px; padding: 15px}
.drag {position: relative;}

/* Shows 'Search by barcode #' on add retail items screen in SPA */
.barcoded {background-color: #D6E7EF; background:url(../images/skin/blue/dialog.gif); padding: 15px; border:solid #5C9EBF 1px;}

#titleBar {height: 22px; background:url(../images/skin/blue/title.gif); cursor:move; padding-left:5px;}

span.action {font-family:verdana,sans-serif,arial;font-weight:bold;font-size:8pt;color:#000066;}
tr.submit     {background-image: url('../images/toolbar_bg.gif');cursor: pointer; color:darkblue;}
td.submit     {PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold;}
tr.checkout   {background-image: url('../images/toolbar_bg.gif');cursor: pointer; color:darkblue;}
td.checkout   {PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold;}
.requiredField {
	border-left: 5px solid #00aeef;
  background: rgb(231, 235, 240); border-bottom: 1px solid #C0C9D7; border-right: 1px solid #AFC4D5; border-top:1px solid #AFC4D5; color:#000066; height:16px; text-decoration:none; font-family:verdana,arial,sans-serif; font-size:7pt;
}

.required {
  width: 3px; overflow: hidden;
	border-left: 3px solid #00aeef;
}
.bgyellow {background:yellow}
.curMon {background:yellow; font-size:12px; font-weight:bold; color:#ec008c;}
.nextPrevMon {font-size:12px; font-weight:bold; color:#00309C;}
.yellow   {color:yellow}

.outerPopup {border-style:solid; border-width: 1px; border-color:#666666 #666666 #666666 #666666}
.innerPopup {border-style:solid; border-width: 1px; border-color:#F9F8F7 #F9F8F7 #F9F8F7 #F9F8F7}
.menuOnClick {background-color: #0055e6; padding-right:3; padding-top:3; padding-bottom:3}
.toppad {padding-top: 5px;}
.changeCols {display: inline; margin: 0;}
