#input[required]::before {
  content: " *";
  font-weight: bold;
  color: #f66;
}

span.comment {
  color: #888;
  font-weight: normal;
  font-size: 12px;  
}

label.req::before {
  content: "* ";
  font-weight: bold;
  color: #f66;  
}

.problematic {
  color: #f66 !important;
}


.problematic::before {
  content: 'NAUGHTY: ';
  color: #f66;
}

#label.missing  {  
  color:#FF0000;  
  font-weight:bold;  
}  

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
  display: block;
}

.resourceProp {font-weight: normal}
.ui-field-contain div.ui-slider-switch { width: 7em; position: absolute; right: 0; } // to make Yes/No toggle switch bigger
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb { padding-left: 90px; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right {
  top: 5px;
}

.ui-field-contain div.ui-slider, .ui-field-contain div.ui-slider.ui-mini { margin:0.3em 0 }
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

#other {
  padding:0; 
  border:0;border-collapse:collapse 
}

.ui-icon-facebook {
  background-image: url(/icons/facebook-mid.png);
}

.ui-icon-twitter {
  background-image: url(/icons/twitter-mid.png);
}

.ui-icon-linkedin {
  background-image: url(/icons/linkedin-mid.png);
}

.ui-icon-tendrilconnect {
  background-image: url(/icons/tendril-mid.png);
}

.ui-icon-live {
  background-image: url(/icons/windows-live-mid.png);
}

.ui-body-c .ui-link:visited {
  color: #757575;
}

.ui-icon {
 /*  background: none; */ 
 }
.ui-btn { margin-right: 2px; margin-left: 2px;}
.ui-content .ui-listview-inset { margin: 0; }
.ui-icon-pin {
  background-image: url("http://public.urbien.com/icons/pin1.png");
  background-size: 18px 18px;
}

.ui-body-c .ui-link {color: #757575;}

.ui-body-c {
  font-family: Tahoma, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
}

label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5em;
  width: 100%;
  float: none;
}

@media screen and (orientation: portrait) {
  label.error { margin-left: 0; display: block; }
/*  .nab .anab .galleryItem_css3 img { min-width: 310px; margin-left: -20px;margin-top: -11px;} */ 
}

@media screen and (orientation: landscape) {
  label.error { display: inline-block; margin-left: 23%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }
#editForm .ui-select, #mv .ui-field-contain .ui-controlgroup-controls {
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

blockquote pre .script {
  font-family monospace;
  white-space: pre-wrap;
  text-align: center;
}

.loading-spinner body { 
  background-image: url(../images/hexabump.png);
  background-color: #222;
}

.loading-spinner body:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
  background: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
  background: -ms-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
  background: -o-radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
  background: radial-gradient(center center, circle cover, rgba(0,0,0,0), rgba(0,0,0,0.75));
}

.loading-spinner .spinner {
  position: relative;
  font-size: 100px;
  width: 1em;
  height: 1em;
  margin: 100px auto;
  border-radius: 50%;
  background: #123456;
  box-shadow: inset 0 0 0 .12em rgba(0,0,0,0.2), 0 0 0 .12em rgba(255,255,255,0.1);
  background:
      -webkit-linear-gradient(#ea2d0e 50%, #fcd883 50%),
      -webkit-linear-gradient(#fcd883 50%, #ea2d0e 50%);
  background:
      -moz-linear-gradient(#ea2d0e 50%, #ffdd72 50%),
      -moz-linear-gradient(#ffdd72 50%, #ea2d0e 50%);
  background:
      -ms-linear-gradient(#ea2d0e 50%, #ffdd72 50%),
      -ms-linear-gradient(#ffdd72 50%, #ea2d0e 50%);
  background:
      -o-linear-gradient(#ea2d0e 50%, #ffdd72 50%),
      -o-linear-gradient(#ffdd72 50%, #ea2d0e 50%);
  background:
      linear-gradient(#ea2d0e 50%, #ffdd72 50%),
      linear-gradient(#ffdd72 50%, #ea2d0e 50%);
  background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  opacity: 0.7;
  -webkit-animation: mask 3s infinite alternate;
  -moz-animation: mask 3s infinite alternate;
  -ms-animation: mask 3s infinite alternate;
  -o-animation: mask 3s infinite alternate;
  animation: mask 3s infinite alternate;
}

.loading-spinner .spinner:after {
  content: "";
  position: absolute;
  border: .12em solid rgba(255,255,255,0.3);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: inherit;
}
