#input[required]::before {
  content: " *";
  font-weight: bold;
  color: #f66;
}

span.comment {
  color: #888;
  font-weight: normal;
  font-size: 12px;  
}

label.req::before {
  content: "* ";
  font-weight: bold;
  color: #f66;  
}

.problematic {
  color: #f66 !important;
}

.problematic:before {
  content: "\f06a  "; 
  font-family: FontAwesome;
  color: #f66;
}

.headerSpecialBtn {
  display: inline-block;
  margin: 0 auto;
}

#label.missing  {  
  color:#FF0000;  
  font-weight:bold;  
}  

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
  display: block;
}
#sidebar .ui-icon {
  background: none;
}

#resourceViewHolder .cp .ui-btn-icon-notext {
  width: 20px;
  height: 20px;
}
#resourceViewHolder .ui-icon {
  background: none;
}
.menuItems .ui-icon {
  background: none;
}
.resourceProp {font-weight: normal}
.ui-field-contain div.ui-slider-switch { width: 7em; position: absolute; right: 0; } // to make Yes/No toggle switch bigger
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb { padding-left: 90px; }

.ui-header .ui-btn-left, .ui-header .ui-btn-right {
  top: 5px;
}

.ui-mini .ui-btn-icon-top .ui-icon {
  top: 13px;
}

.ui-field-contain div.ui-slider, .ui-field-contain div.ui-slider.ui-mini { margin:0.3em 0 }
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

#resourceViewHolder .ui-icon {
  margin: -12px -7px auto auto !important;
}

#resourceViewHolder .ui-icon .ui-icon-chevron-right{
  margin: -12px -9px auto auto !important;
}

#other {
  padding:0; 
  border:0;border-collapse:collapse 
}
/*
.ui-icon-facebook {
  background-image: url(/icons/facebook-mid.png);
}

.ui-icon-twitter {
  background-image: url(/icons/twitter-mid.png);
}

.ui-icon-linkedin {
  background-image: url(/icons/linkedin-mid.png);
}

.ui-icon-tendrilconnect {
  background-image: url(/icons/tendril-mid.png);
}

.ui-icon-live {
  background-image: url(/icons/windows-live-mid.png);
}
*/
.ui-body-c .ui-link:visited {
  color: #757575;
}

.ui-icon {
 /*  background: none; */ 
 }
.ui-btn { margin-right: 2px; margin-left: 2px;}
.ui-content .ui-listview-inset { margin: 0; }
.ui-icon-pin {
  background-image: url("http://public.urbien.com/icons/pin1.png");
  background-size: 18px 18px;
}

.ui-body-c .ui-link {color: #757575;}

.ui-body-a .ui-link {
  color: #fdfdfd;
}

.ui-body-e .ui-link, .ui-body-e .ui-link:visited {
  color: #757575;
}

.red {
  color: red;
}

.black {
  color: black;
}

label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5em;
  width: 100%;
  float: none;
}

@media screen and (orientation: portrait) {
  label.error { margin-left: 0; display: block; }
/*  .nab .anab .galleryItem_css3 img { min-width: 310px; margin-left: -20px;margin-top: -11px;} */ 
}

@media screen and (orientation: landscape) {
  label.error { display: inline-block; margin-left: 23%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }
#editForm .ui-select, #mv .ui-field-contain .ui-controlgroup-controls {
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

blockquote pre .script {
  font-family monospace;
  white-space: pre-wrap;
  text-align: center;
}
/*
.ui-li-link-alt .ui-btn-inner .ui-icon {
  margin: -11px -9px auto auto !important;
}
*/

.ui-icon-delete, .ui-icon-searchfield, .ui-icon-edit, .ui-icon-plus, .ui-icon-book, .ui-icon-copy {
  position: relative;
}
.ui-icon {
  background: none;
  background-image: none;
  opacity: 0.8;
}
.ui-icon-delete:before {
  position:absolute;
  font-family: FontAwesome !important;
  top:-2px;
  left:-1px;
  content: "\f00D";
  font-size: 17px;
  background: none;
  background-image: none;
/*  color: #fff; */
}
.ui-icon-edit:before{
  position:absolute;
  font-family: FontAwesome !important;
  top:-2px;
  left:-1px;
  font-size: 17px;
  background: none;
/*  color: #fff; */
  content:"\f044"
}
.ui-icon-searchfield:after {
  position:absolute;
  font-family: FontAwesome !important;
  top:19px;
  left:10px;
  content: "\f002";
  font-size: 14px;
  background: none;
  background-image: none;
/*  color: #757575; */
}

#resourceView #other .ui-btn-inner .ui-icon-plus:after {
  position:absolute;
  font-family: FontAwesome !important;
  top:3px;
  left:5px;
  content: "\f01A";
  font-size: 20px;
  background: none;
  background-image: none;
  opacity: 0.6;
  margin: -1px -7px auto auto !important;
}

/*
.ui-icon-plus:after {
  position:absolute;
  font-family: FontAwesome !important;
  top:3px;
  left:5px;
  content: "\f055";
  font-size: 20px;
  background: none;
  background-image: none;
}
*/
.ui-icon-minus:after {
  position:absolute;
  font-family: FontAwesome !important;
  top:3px;
  left:5px;
  content: "\f056";
  font-size: 20px;
  background: none;
  background-image: none;
/*  color: #757575; */
}
.ui-icon-retweet {
  position:absolute;
  font-family: FontAwesome !important;
  top:3px;
  left:5px;
  content: "\f079";
  font-size: 14px;
  background: none;
  background-image: none;
/*  color: #757575; */
}

#publish .ui-icon-book:before{
  position:absolute;
  font-family: FontAwesome !important;
  top:0px;
  left:0px;
  font-size: 16px;
  background: none;
  background-image: none;
  content:"\f02d"
}
#doTry .ui-icon {
  font-size: 18px;
  line-height: 18px;
}

#forkMe .ui-icon, #publish .ui-icon, #doTry .ui-icon {
  background: none;
}
#forkMe .ui-icon-copy {
  font-size: 16px;
}
.ui-btn-icon-notext .ui-btn-inner {
  padding: 1px;
}

#sidebar .ui-li-static .ui-btn-up-c {
  border: 0px;
}
#sidebar .ui-li .ui-btn-inner {
  padding: 0;
}

#sidebar .ui-li .ui-li-static {
  padding: 0;
}
#sidebar .ui-li-static.ui-li {
  padding: 0;
}

#sidebar li.image_fitted {
  border: 0px;
  padding: 0;
}
#sidebar .ui-btn-inner {
  white-space: normal;
}

#resourceViewHolder .ui-grid-a .ui-block-a { clear: none; }

/*
.bubble-right, .bubble-left {
#  position: relative;
#  margin-bottom:2px;
#  margin-top:0;
#  vertical-align:top;
#  padding: 3px 10px;
#  background: #FFFFFF;
#  -webkit-border-radius: 10px;
#  -moz-border-radius: 10px;
#  border-radius: 10px;
position: relative;
padding: 5px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 4px;
}

.bubble-right {
  text-align: right;
  background: #FFF;
}

.bubble-left {
  text-align: left;
  background: #000;
}

.bubble-left:before, .bubble-right:before {
  content: "";
  position: absolute;
  bottom: 5px;
  border-style: solid;
  border-width: 7px 13px 7px 0;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
}

.bubble-left:before {
  border-width: 7px 13px 7px 0;
}

.bubble-right:before {
  border-width: 7px 13px 7px 0;
}

.bubble-left:after, .bubble-right:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 1;
  bottom: 5px;
}

.bubble-right:after {
  right: -2px;
  border-width: 4px 10px 4px 0;
}

.bubble-left:after {
  right: -2px;
  border-width: 15px 15px 15px 0;
}

*/

.bubble, .bubble-right, .bubble-left {
  position: relative;
  padding: 8px;
  border: #7F7F7F solid 4px;
  max-width: 80%;
  #clear: both;
  margin-top: 5px;
}

.bubble-right, .bubble-left {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.bubble-right {
  background: #000;
  color: #FFF;
  margin-right: auto;
  text-align: right;
}

.bubble-left {
  background: #FFF;
  color: #000;
  margin-left: auto;
  text-align: left;
}

.bubble {
  background: #F2DA1F;
  color: #444;
  max-width: 100%;
  text-align: center;
}

.bubble-right:after, .bubble-left:after {
  content: "";
  position: absolute;
  bottom: 12px;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
}

.bubble-right:after {
  border-width: 4px 10px 4px 0;  
  left: -10px;
  border-color: transparent #000;
}

.bubble-left:after {
  border-width: 4px 0 4px 10px;
  right: -10px;
  border-color: transparent #FFF;
}

.bubble-right:before, .bubble-left:before {
  content: "";
  position: absolute;
  bottom: 9px;
  border-style: solid;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
}

.bubble-right:before {
  border-width: 7px 13px 7px 0;
  left: -17px;
}

.bubble-left:before {
  border-width: 7px 0 7px 13px;
  right: -17px;
}

.speaker-self {
  color: #000;
  font-weight: bold;
}

.speaker-other {
  color: #FFF;
  font-weight: bold;
}

.chat-message-outgoing {
  color: #000;
}

.chat-message-incoming {
  color: #FFF;
}

.chat-holder {
  margin: 10px 10px 0px 10px;
  text-align: center;
}

@media (max-width: 328px) {  
  .chat-holder {margin: 10px 0px 0px 0px;}
}

.chat-info {
}
video {
  width: 100%    !important;
  height: auto   !important;
  #max-width: 100%;
  #height: auto;
  border: 5px solid #AAA;  
}

/*
video.localVideo {
  border: 5px solid #AAA;  
}
*/

.videoChat {
  position: relative;
  display: inline-block;
  max-width: 100%;
  top: 50%;
  left: 50%;
  position:fixed;
}

.myVideo-overlay video {
  max-width: 30%;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*
video.remoteVideo:after {
  content: "\f057"; 
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}
*/

/*
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

/*
.video {
  border: #7F7F7F solid 4px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
 */

/*.comment{
  margin-left:20px;
  margin-bottom:0;
  margin-top:0;
  display:inline-block;
  vertical-align:top;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  *display:inline;
  *zoom:1;
  font-size:14px
}*/




/****************** BUBBLES ******************/
.chat_msgs {
  max-height: 520px;
  overflow-y: scroll;
  border-top: 2px dotted rgb(221, 221, 221);
  padding: 10px 0;
}
.msg_recvd {
  background-color: rgb(118, 118, 118);
  color: rgba(255, 255, 255, .85)!important;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px!important;
}
.msg_sent {
  background-color: rgb(207, 240, 158);
}
.chat_msg {
  position: relative;
  background: none;
  margin-top: 10px;
  padding: 0 20px;
}
.chat_user {
/*  width: 60px; */
  position: relative;
  z-index: 10;
}
.msg_sent .chat_user {
  float: right;
}
.msg_recvd .chat_user {
  float: left;
}
.msg_sent .chat_user {
  right: 0;
}
.posted_on, .follower_since {
  font-size: 11px;
}
.posted_on, .msg_single, .follower_single, .follower_since {
  color: rgb(119, 119, 119);
  text-shadow: white 0px 1px 1px;
  clear: both;
}
.msg_sent .posted_on {
  text-align: right;
  clear: right;
}
.chat_msg.msg_sent .chat_copy {
  background-color: rgb(207, 240, 158);
  float: right;
  margin-right: 20px;
}
.chat_msg.msg_recvd .chat_copy {
  margin-left: 20px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.28, rgb(231, 231, 231)), to(rgb(242, 242, 242))) no-repeat rgb(242, 242, 242);
  background: -moz-linear-gradient(top left 90deg, rgb(243, 243, 243) 0%, rgb(231, 231, 231) 28% , rgb(242, 242, 242) 100%);
  background-size: 100% 20px;
}
.chat_msg .chat_copy {
  position: relative;
  max-width: 65%;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(255,255,255,0.6) 0px -1px 0px inset, rgba(0,0,0,0.2) 0px 1px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 2px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 1px 2px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 28%, transparent 100%);
  background: -moz-linear-gradient(top left 90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 28% , transparent 100%);
  background-color: rgba(69,159,255,1);
}
.chat_msg .chat_copy:before {
  content: '';
  border-color: transparent rgba(0,0,0,0.55) transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-3px;
  left:-5px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
}
.chat_msg .chat_copy:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  right: 3px;
  border-radius: 5px;
  height: 6px;
  padding: 3px 0;
  background: rgba(255,255,255,0.75);
  background: -webkit-gradient(linear, 0% 0%, 0% 95%, from(white), to(rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.4));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, 0.4));
}
.chat_msg.msg_sent .chat_copy:before {
  border-color: transparent transparent transparent rgba(0,0,0,0.55);
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  left: auto;
  right: -5px;
}
.chat_msg .chat_copy p {
  margin: 0;
  padding: 5px 10px;
  color: #333;
  text-align: left;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  position: relative;
  z-index: 10;
}
.chat_msg .chat_copy p:after {
  content: '';
  border-color: transparent #A5FF45 transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  bottom:-1px;
  left:-3px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
}
.chat_msg.msg_sent .chat_copy p:after {
  border-color: transparent transparent transparent #CFF09E;
  border-style: solid;
  border-width: 6px;
  left: auto;
  right: -3px;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
}
.chat_msg.msg_recvd .chat_copy p:after {
  border-color: transparent rgb(242, 242, 242) transparent transparent;
}
 
.med.user_pic {
  width: 50px;
/*  height: 50px; */
  border: 1px solid #DFDFDF;
  display: block;
}
