.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb { padding-left: 90px; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right {
  top: 5px;
}

.map {
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

#other {
  padding:0;border:0;border-collapse:collapse
}

.ui-icon-facebook {
  background-image: url(/icons/facebook-mid.png);
}

.ui-icon-twitter {
  background-image: url(/icons/twitter-mid.png);
}

.ui-icon-linkedin {
  background-image: url(/icons/linkedin-mid.png);
}

.ui-icon-tendrilconnect {
  background-image: url(/icons/tendril-mid.png);
}

.ui-icon-live {
  background-image: url(/icons/windows-live-mid.png);
}
