html {
  font-size: 10px;
}

[data-role="page"] { 
  top: 0; 
  left: 0;
 /* bottom: 0; */ 
  width: 100%; 
  min-height: 100%; 
  position: absolute; 
  border: 0; 
}
a.resourceProp {
  position: relative;
  font-size:1.6rem;
  cursor:pointer;
  min-height:3rem;
}
}
 
li {
  position: relative;
}
#categories {font-size:20px;}f
#headerUl .topcoat-button-bar__button--large {
  border-radius: 0;
}
#headerUl .topcoat-button-bar__button {
  border-radius: 0;
  font-size: 3rem;
  padding:2px;
  width: 100%;
}

#headerButtons {
  padding-bottom: 3px;
}
#menuItems, #rightMenuItems {
  background: #2d2d2d;
  position: absolute;
  top:0;
  width: 21rem;
  z-index:1000000;
  height:100%;
  right: 0;
}
#menuItems .topcoat-list__header, #rightMenuItems .topcoat-list__header {
  color: #2d2d2d;
}
#menuItems li, #rightMenuItems li {
  padding: 0;
  color: #ccc;
  border: 1px solid #000;
}

#mainGroup .topcoat-button--cta {
  line-height: 6rem;
  text-align: left;
  color: #000000;
}
#mainGroup div.counter {
  height: 30px;
}
.topcoat-button--cta a {
  color: #ffffff;
}

#other {
  padding: 4px 0px;
}
#other h3 {
  margin:10px;
}
#cpView {
  font-size:1.6rem;
}
.topcoat-button-bar__button--large i {
  font-size:3rem;
}
button.topcoat-button-bar__button--large {
  width:100%;
} 
h4#pageTitle  {
  margin-top:0;
}
.topcoat-list__header {
  padding: 0;
}
#resourceView .topcoat-list__header h3 {
  margin: 0.7rem;
}
.editList .topcoat-list__header h3 {
  margin: 0;
}

a {
  color: #333333;
}
#login_popup .popup {
  background: #ccc;
  border:1px solid #aaa; 
  border-radius:1rem;
}

#photogridHeader {
  border: 1px solid #707070;
  background: #eee;
  color: #f9f9f9;
  font-weight: 700;
  text-shadow: 0 1px 0 #000;
  background: #757575;
  text-align: center;
  top: -3px;
}
#photogridHeader h3 {
  font-size: 1.8rem;
  margin: 0.8rem;
}
.cpA {
  font-weight:normal;width:100%;height:100%;
}

.cp i {
  z-index:1001; 
  position:absolute;
  top:1rem;
  right:0.5rem;
  font-size:22px;
}
.ui-icon-plus-sign:before, .ui-icon-chevron-left:before {
  margin-top:0;
}
.listPage li > div {
  margin: 0.3rem;
  font-size: 1.4rem;
}
#menuItems .topcoat-notification, #rightMenuItems .topcoat-notification {
  font-size: 1.4rem;
  float: right;
  margin-right: 1rem;
  background-color: #ccc;
  color: #2d2d2d;
}
#headerDiv .topcoat-notification {
  margin-left:-4.5rem;
  top:0.5rem;
  font-size:1.6rem;
  padding:0 0.15rem;
}
#name h4 {
  font-weight:normal;
  margin-bottom: 7px;
  font-size:2.3rem;
  color:#eee;
}
#name.resTitle {
  padding: 7px;
}
.editList textarea, .editList input[type="text"] {
  width: 80%;
}
.cameraPopup {
  background: #f9f9f9;
  border-radius: 1rem;
  border: 1px solid #aaa;
  padding: 1rem;
  min-width: 290px;
  max-width: 330px;
  margin: 0 auto;
}
#cameraCancelBtn i {
  position: absolute; 
  border-radius: 1rem; 
  font-size: 2.8rem; 
  top: -2.5rem;
  right: -2rem;
}
@media all and (min-width:420px) {
  .editList select {
    width: 76%;
    border: 1px solid #bbb;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  li label.ui-input-text, li label.select {
    display: inline-block;
    width: 18%;
  }
  div.ui-input-text, input.ui-input-text, textarea {
    display: inline-block;
    width: 75%;
  }
}
.resourceProp {
  padding: 1.5rem;
}

.editList li {
  padding: 0.5rem 1.5rem; 
  min-height: 3rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
}

.editList select {
  border: 1px solid #bbb;
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
}

fieldset div {
  margin: 1rem -.5px 0 -.5rem;
} 
#mvChooser {
  border: none;
}
#mvChooser li {
  cursor: default;
}

#mvChooser .listPage li > div:nth-child(2) {
  clear: both;
  float: left;
}

#mvChooser input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  margin-left: -3rem;
}
#mvChooser ul {
  margin-left: -0.5rem;
}
#mvChooser ul li:first-child {
  border-top:0;
}

fieldset#submitBtns div {
  width:50%;
  display:inline-block;
}

fieldset#submitBtns div:first-child {
  float:left;
}

fieldset#submitBtns div:nth-child(2) {
  float:right;
}
fieldset#submitBtns div:first-child button {
  width:100%;
}
fieldset#submitBtns div:nth-child(2) button {
  color: #fff;
  background: #333;
  width:100%;
}
fieldset#submitBtns {
  border: none;
}
.editList a {
  display:block;
  cursor: pointer;
}
fieldset .listPage .topcoat-list__container {
  border: none;
}
.topcoat-checkbox {
  line-height: 3rem;
  left: 1rem;
  font-size: 1.5rem;
}
.topcoat-checkbox__checkmark, .topcoat-checkbox__checkmark:before {
  width: 3rem;
  height: 3rem;
}

#mvSubmit {
  font-size: 2.4rem;
}
.topcoat-switch__toggle:after, .topcoat-switch__toggle:before {
  padding-left:1.4rem;
}
.cameraCapture i {
  position:absolute;
  right:1rem;
  font-size:2.3rem;
  top:2rem;
}
.cameraCapture i {
  position:absolute;
  right:1rem;
  font-size:2.3rem;
  top:1.5rem;
  overflow:hidden;
}
