html {
  font-size: 10px;
}

a.resourceProp {
  position: relative;
  font-size:1.6rem;
  cursor:pointer;
  min-height:3rem;
}
.triangle {
  margin-bottom: -5px;
  margin-right: -15px;
}
.topcoat-button--large {
  font-size: 1.7rem;
  text-shadow: none;
}
li {
  position: relative;
}

.headerUl button {
  cursor: pointer;
}
.headerUl .topcoat-button-bar__button--large {
  border-radius: 0;
}
.headerUl .topcoat-button-bar__button {
  border-radius: 0;
  font-size: 2.8rem;
  padding:2px;
  width: 100%;
}

.headerButtons {
  padding-bottom: 7px;
}
#menuItems li, #rightMenuItems li {
  background: #2d2d2d;
}
#menuItems, #rightMenuItems {
  background: #2d2d2d;
/*  position: absolute; */
  top:0;
  width: 21rem;
  z-index:1000000;
  height:100%;
  right: 0;
}
#menuItems .topcoat-list__header, #rightMenuItems .topcoat-list__header {
  color: #2d2d2d;
  background-color: #ccc;
}
#menuItems li, #rightMenuItems li {
  padding: 0;
  color: #ccc;
  border: 1px solid #000;
}

#mainGroup .topcoat-button--cta {
  line-height: 5rem;
  text-align: left;
  color: #000000;
}
#mainGroup div {height: 50px; }

#mainGroup div.counter {
  height: 30px;
}
.other {
  padding: 4px 0px;
  cursor: pointer;
}
.other h3 {
  margin:0.3rem 1.25rem;
}
#cpView {
  font-size:1.6rem;
}
#cpView .topcoat-list__item {
/*  padding: 0; */
/*  min-height: 4rem; */
  min-height: 2rem;
}

.topcoat-button-bar__button--large i {
  font-size:3rem;
}
button.topcoat-button-bar__button--large {
  width:100%;
}
h4.pageTitle  {
  margin-top:0;
}
.topcoat-list__header {
  padding: 0;
}
#resourceView .topcoat-list__header h3, #menuItems .topcoat-list__header h3, #rightMenuItems .topcoat-list__header h3, #cpView .topcoat-list__header h3 {
  margin: 0.7rem 1.25rem;
}
.editList .topcoat-list__header h3 {
  margin: 0;
}
.editList .topcoat-list__header {
  padding: 0.5rem 0 0 1.5rem;
}
a {
  color: #333333;
}
#login_popup .popup {
  background: #ccc;
  border:1px solid #aaa;
  border-radius:1rem;
}

.thumb-gal-header {
  border: 1px solid #707070;
  background: #eee;
  color: #f9f9f9;
  font-weight: 700;
  text-shadow: 0 1px 0 #000;
  background: #757575;
  text-align: center;
  top: -3px;
}
.thumb-gal-header h3 {
  font-size: 1.8rem;
  margin: 0.8rem;
}
.cpA {
  font-weight:normal;width:100%;height:100%;
  position:absolute;
  padding:0;
}

.cp i {
  z-index:1001;
  position:absolute;
  top:1rem;
  right:1.75rem;
  font-size:22px;
}
.ui-icon-plus-sign:before, .ui-icon-chevron-left:before, .ui-icon-map-marker:before {
  margin-top:0;
}
.listPage li > div {
  margin: 0.3rem;
  font-size: 1.4rem;
}
#menuItems .topcoat-notification, #rightMenuItems .topcoat-notification {
  font-size: 1.4rem;
  float: right;
  margin-right: 1rem;
  background-color: #ccc;
  color: #2d2d2d;
}
.headerDiv .topcoat-button-bar__button  .topcoat-notification {
  font-size:10px;
  border-radius:10px;
}
#menuItems #home123 {
  position:relative;
}
/*
#menuItems li:first-child {
  min-height:38px;max-width:100%;padding-top:10px;font-size:18px;margin-left:15px;
}

#menuItems .topcoat_list--header h3 {
  margin-left:15px;
}
*/
.headerDiv .topcoat-notification {
  margin-left:-4.5rem;
  top:1.2rem;
  font-size:1.6rem;
  padding:0 0.3rem;
  line-height: 1.5rem;
}
#name h4 {
  font-weight:normal;
  margin-bottom: 7px;
  font-size:2.3rem;
  color:#eee;
}
#name.resTitle {
  padding: 7px 0 3px 0;
}
.cameraPopup {
  background: #f9f9f9;
  border-radius: 1rem;
  border: 1px solid #aaa;
  padding: 1rem;
  min-width: 290px;
  max-width: 330px;
  margin: 0 auto;
}
#cameraCancelBtn i {
  position: absolute;
  border-radius: 1rem;
  font-size: 2.8rem;
  top: -2.5rem;
  right: -2rem;
}

.editList textarea, .editList input[type="text"] {
  width: 100%;
/*  position:static; */
}

@media all and (min-width:420px) {
  .editList select {
    width: 76%;
    border: 1px solid #bbb;
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  li label.ui-input-text, li label.select {
    display: inline-block;
    width: 18%;
  }
  div.ui-input-text, input.ui-input-text, textarea {
    display: inline-block;
    width: 75%;
  }
  .editList textarea, .editList input[type="text"] {
    width: 80%;
    position:absolute;
    float:right;
    right: 15px;
  }
  .textarea {
    height: 10.5rem;
  }
}
.resourceProp {
  padding: 1.5rem;
}

.editList li {
  padding: 0.5rem 1.5rem;
  min-height: 3rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
}

.editList select {
  border: 1px solid #bbb;
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
}

fieldset div {
  margin: 1rem -.5px 0 -.5rem;
}
#mvChooser {
  border: none;
}
#mvChooser li {
  cursor: default;
}

#mvChooser .listPage li > div:nth-child(2) {
  clear: both;
  float: left;
}

#mvChooser input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  margin-left: -3rem;
}
#mvChooser ul {
  margin-left: -0.5rem;
}
#mvChooser ul li:first-child {
  border-top:0;
}

fieldset#submitBtns div {
  width:50%;
  display:inline-block;
}

fieldset#submitBtns div:first-child {
  float:left;
}

fieldset#submitBtns div:nth-child(2) {
  float:right;
}
fieldset#submitBtns div:first-child button {
  width:100%;
}
fieldset#submitBtns div:nth-child(2) button {
  color: #fff;
  background: #333;
  width:100%;
}
fieldset#submitBtns {
  border: none;
}
.editList a {
  display:block;
  cursor: pointer;
  padding: 0;
}
fieldset .listPage .topcoat-list__container, #sidebar.topcoat-list__container {
  border: none;
}
.topcoat-checkbox {
  line-height: 3rem;
  left: 1rem;
  font-size: 1.5rem;
}
.topcoat-checkbox__checkmark, .topcoat-checkbox__checkmark:before {
  width: 3rem;
  height: 3rem;
}

#mvSubmit {
  font-size: 2.4rem;
}
.topcoat-switch__toggle:after, .topcoat-switch__toggle:before {
  padding-left:1.4rem;
}
.cameraCapture i {
  position:absolute;
  right:1rem;
  font-size:2.3rem;
  top:2rem;
}
.cameraCapture i {
  position:absolute;
  right:1rem;
  font-size:2.3rem;
  top:1.5rem;
  overflow:hidden;
}
.masonry-brick div[data-viewid] {
  border: none;
}
#sidebar .topcoat-list__item {
  cursor: pointer;
}
.topcoat-list__item {
  position: relative;
}
.topcoat-button:focus,
.topcoat-button--quiet:focus,
.topcoat-button--quiet:hover:focus,
.topcoat-button--large:focus,
.topcoat-button--large--quiet:focus,
.topcoat-button--large--quiet:hover:focus,
.topcoat-button--cta:focus,
.topcoat-button--large--cta:focus,
.topcoat-button-bar__button:focus,
.topcoat-button-bar__button--large:focus {
  padding: 0 1.25rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: top;
  /*background-color: #e5e9e8;*/
  box-shadow: inset 0 1px #fff;
  border: 1px solid #9daca9;
  border-radius: 6px;
}
#mainGroup button.img {
  margin:5px;
  width:auto;
  float:left;
  font-weight: bold;
  text-align:left;
  border: 1px solid #ccc;
  min-width:115px;
  background:none;
}

.hmg {
  margin: 10px 5px 10px 5px;
}
#mainGroup .hmg:first-child {
  margin-left:10px;
}
.section.group.topcoat-list__item div {
  margin: 0;
}
